<li class="site-menu-item has-sub ">
    <a href="javascript:void(0)" data-slug="layout">
        <i class="site-menu-icon wb-library" aria-hidden="true"></i>
        <span class="site-menu-title">Cursos</span>
        <span class="site-menu-arrow"></span>
    </a>
    <ul class="site-menu-sub">
        <li class="site-menu-item">
            <a class="animsition-link" href="{{ path('curso_paraconfirmar') }}" data-slug="layout-menu-collapsed">
                <i class="site-menu-icon " aria-hidden="true"></i>
                <span class="site-menu-title">1-Por confirmar</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a class="animsition-link" href="{{ path('curso_confirmados') }}" data-slug="layout-menu-expended">
                <i class="site-menu-icon " aria-hidden="true"></i>
                <span class="site-menu-title">2-Confirmados</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a class="animsition-link" href="{{ path('curso_porvalidar') }}" data-slug="layout-menu-expended">
                <i class="site-menu-icon " aria-hidden="true"></i>
                <span class="site-menu-title">3-Por validar</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a class="animsition-link" href="{{ path('curso_validados') }}" data-slug="layout-menu-expended">
                <i class="site-menu-icon " aria-hidden="true"></i>
                <span class="site-menu-title">4-Validados</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a class="animsition-link" href="{{ path('curso_fallavalidacion') }}" data-slug="layout-menu-expended">
                <i class="site-menu-icon " aria-hidden="true"></i>
                <span class="site-menu-title">5-Con fallas de validacion</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a class="animsition-link" href="{{ path('curso_cancelados') }}" data-slug="layout-menu-expended">
                <i class="site-menu-icon " aria-hidden="true"></i>
                <span class="site-menu-title">6-Cancelados</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a class="animsition-link" href="{{ path('curso') }}" data-slug="layout-menu-expended">
                <i class="site-menu-icon " aria-hidden="true"></i>
                <span class="site-menu-title">7-Todos</span>
            </a>
        </li>
    </ul>
</li>
<li class="site-menu-item">
    <a href="{{ path('prestador') }}" data-slug="dashboard">
        <i class="site-menu-icon wb-flag" aria-hidden="true"></i>
        <span class="site-menu-title">Prestadores</span>
    </a>
</li>
<li class="site-menu-item">
    <a href="{{ path('sede') }}" data-slug="dashboard">
        <i class="site-menu-icon wb-flag" aria-hidden="true"></i>
        <span class="site-menu-title">Sedes</span>
    </a>
</li>
<li class="site-menu-item">
    <a href="{{ path('docente') }}" data-slug="dashboard">
        <i class="site-menu-icon wb-flag" aria-hidden="true"></i>
        <span class="site-menu-title">Docentes</span>
    </a>
</li>

<li class="site-menu-item">
    <a href="{{ path('chofer') }}" data-slug="dashboard">
        <i class="site-menu-icon wb-flag" aria-hidden="true"></i>
        <span class="site-menu-title">Choferes</span>
    </a>
</li>
<li class="site-menu-item">
    <a href="{{ path('curso') }}" data-slug="dashboard">
        <i class="site-menu-icon wb-flag" aria-hidden="true"></i>
        <span class="site-menu-title">Agregar choferes por curso</span>
    </a>
</li>
<li class="site-menu-item">
    <a href="{{ path('chofer_consulta') }}" data-slug="dashboard">
        <i class="site-menu-icon wb-flag" aria-hidden="true"></i>
        <span class="site-menu-title">Consulta Chofer</span>
    </a>
</li>