<div class="navbar nav">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('home') }}">Choferes</a>

          	<div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="divider-vertical"></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Cursos <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('curso_paraconfirmar') }}">1-Por confirmar</a></li>
                            <li><a href="{{ path('curso_confirmados') }}">2-Confirmados</a></li>
                            <li><a href="{{ path('curso_porvalidar') }}">3-Por validar</a></li>
                            <li><a href="{{ path('curso_validados') }}">4-Validados</a></li>
                            <li><a href="{{ path('curso_fallavalidacion') }}">5-Con fallas de validacion</a></li>
                            <li><a href="{{ path('curso_cancelados') }}">6-Cancelados</a></li>
                            <li><a href="{{ path('curso') }}">7-Todos</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('prestador') }}">Prestadores</a></li>
                    <li><a href="{{ path('sede') }}">Sedes</a></li>
                    <li><a href="{{ path('docente') }}">Docentes</a></li>
                    <li><a href="{{ path('chofer') }}">Choferes</a></li>
                    <li><a href="{{ path('curso') }}">Agregar choferes por curso</a></li>
                    <li><a href="{{ path('chofer_consulta') }}">Consulta Chofer</a></li>
                </ul>
                <div class="pull-right">
                    {{ include('ChoferesBundle:NavBars:menu_usuario.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
