{% extends 'ChoferesBundle:Layout:layout.html.twig' %}
{% form_theme form 'ChoferesBundle:Informe:fields.html.twig' %}

{% block title %}
    Informe
{% endblock %}

{% block menu %}
    {{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader%}
    <h1 class="page-title">Informe CNRT</h1>
{% endblock %}

{% block page %}
  {% if choferes is empty %}
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Todos los campos son obligatorios</h3>
    </div>
    <div class="panel-body container-fluid">
      <form action="#" method="post" {{ form_enctype(form) }}>
      <div class="row ">
        {{ form_widget(form.fechaInicio, {'attr': {'class': 'form-control', 'data-provide': 'datepicker', 'data-date-format': 'dd/mm/yyyy', 'data-date-autoclose': 'true'}}) }}
        {{ form_widget(form.horaInicio, {'attr': {'class': 'form-control ui-timepicker-input', 'data-plugin': 'timepicker', 'autocomplete': 'off', 'data-time-format': 'H:i'}}) }}
      </div> <!-- row-->
      <div class="row margin-top-30">
        {{ form_widget(form.fechaFin, {'attr': {'class': 'form-control', 'data-provide': 'datepicker', 'data-date-format': 'dd/mm/yyyy', 'data-date-autoclose': 'true'}}) }}
        {{ form_widget(form.horaFin, {'attr': {'class': 'form-control ui-timepicker-input', 'data-plugin': 'timepicker', 'autocomplete': 'off', 'data-time-format': 'H:i'}}) }}
      </div> <!-- row-->
      <div class="row margin-top-30">
        {{ form_widget(form.prestador, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.tipocurso, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 margin-top-20">
          {{ form_widget(form.reset, {'attr': {'class': 'btn btn-outline btn-default'}}) }}
          <button type="submit" class="btn btn-success">Generar</button>
        </div>
      </div> <!-- row-->
      {{ form_end(form) }}
    </div><!-- panel-->
  </div><!-- panel body-->
  {% else %}
  <div class="panel">
    <div class="panel-body">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cuil</th>
            <th>Cuilempresa</th>
            <th>Matricula</th>
            <th>Tiene curso básico</th>
          </tr>
        </thead>
        <tbody>
          {% for chofer in choferes %}
          <tr class="gradeA">
            <td><a href="{{ path('chofer_show', { 'id': chofer.id }) }}">{{ chofer.id }}</a></td>
            <td>{{ chofer.nombre }}</td>
            <td>{{ chofer.apellido }}</td>
            <td>{% if chofer.precuil and chofer.colacuil %}{{ chofer.precuil }}-{{ chofer.dni }}-{{ chofer.colacuil }}{% endif %}</td>
            <td>{{ chofer.cuilEmpresa }}</td>
            <td>{{ chofer.matricula }}</td>
            <td>{% if chofer.tieneCursoBasico %}Si{% else %}No{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-6 margin-top-20">
          <form class="" action="" method="post">
            <button type="submit" name="exportar_excel" class="margin-top-10 btn btn-outline btn-warning" >Exportar a Excel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
