{% extends 'ChoferesBundle:Layout:layout.html.twig' %}
{% form_theme form 'ChoferesBundle:Informe:fields.html.twig' %}

{% block title %}
    Informe
{% endblock %}

{% block menu %}
    {{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader%}
    <h1 class="page-title">Informe CNRT</h1>
{% endblock %}

{% block page %}
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Todos los campos son obligatorios</h3>
    </div>
    <div class="panel-body container-fluid">
      <form action="#" method="post" {{ form_enctype(form) }}>
      <div class="row ">
        {{ form_widget(form.fechaInicio, {'attr': {'class': 'form-control', 'data-provide': 'datepicker', 'data-date-format': 'dd/mm/yyyy', 'data-date-autoclose': 'true'}}) }}
        {{ form_widget(form.horaInicio, {'attr': {'class': 'form-control ui-timepicker-input', 'data-plugin': 'timepicker', 'autocomplete': 'off', 'data-time-format': 'H:i'}}) }}
      </div> <!-- row-->
      <div class="row margin-top-30">
        {{ form_widget(form.fechaFin, {'attr': {'class': 'form-control', 'data-provide': 'datepicker', 'data-date-format': 'dd/mm/yyyy', 'data-date-autoclose': 'true'}}) }}
        {{ form_widget(form.horaFin, {'attr': {'class': 'form-control ui-timepicker-input', 'data-plugin': 'timepicker', 'autocomplete': 'off', 'data-time-format': 'H:i'}}) }}
      </div> <!-- row-->
      <div class="row">
        <div class="col-sm-6 col-md-4 margin-top-20">
          {{ form_widget(form.reset, {'attr': {'class': 'btn btn-outline btn-default'}}) }}
          <button type="submit" class="btn btn-success">Generar</button>
        </div>
      </div> <!-- row-->
      {{ form_end(form) }}
    </div><!-- panel-->
  </div><!-- panel body-->
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/choferes/js/cursoForm.js') }}"></script>
{% endblock %}
