{% extends 'ChoferesBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ parent() }} - Crear Auditoria
{% endblock %}

{% block menu %}
    {{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader %}
    <h1 class="page-title">Crear Auditoria</h1>

    <ol class="breadcrumb">
        <li><a href="{{ path('home') }}">Inicio</a></li>
        <li class="active">Crear Auditoria</li>
    </ol>
{% endblock %}

{% block page %}
    <div class="panel">
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Curso Id</th>
                            <th>Estado</th>
                            <th>Prestador</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for curso in cursos %}
                            <tr class="gradeA">
                                <td>{{ curso.id}}</td>
                                <td>{{ curso.estado.nombre }}</td>
                                <td>{{ curso.prestador.nombre }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}
