{% extends 'ChoferesBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ parent() }} - Ver Auditoria: {{ auditoria.id }}
{% endblock %}

{% block menu %}
    {{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader %}
    <h1 class="page-title">Ver Auditoria</h1>

    <ol class="breadcrumb">
        <li><a href="{{ path('home') }}">Inicio</a></li>
        <li class="active">Ver Auditoria</li>
    </ol>
{% endblock %}

{% block page %}
    <div class="panel">
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" id="exampleAddRow">
                    <tbody>
                    <tr class="gradeA">
                        <td><b>ID</b></td>
                        <td>{{ auditoria.id }}</td>
                    </tr>
                    <tr class="gradeA">
                        <td><b>Curso ID</b></td>
                        <td>{{ auditoria.curso.id }}</td>
                    </tr>
                    <tr class="gradeA">
                        <td><b>Estado</b></td>
                        <td>{{ auditoria.estado.nombre }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="dt-panelfooter clearfix">
                <a id="listado" href="{{ path('auditoria') }}" class="btn btn-outline btn-default margin-top-10">Volver al listado</a>
            </div>

        </div>
    </div>

    {# <div class="panel">
        <div class="panel-body">

            <h4>Cursos auditados</h4>

            {% if auditoria.cursos is empty %}
                <h4 class="panel-title">Al momento la Auditoria no tiene asignado a ningún curso en el sistema.</h4>
            {% else %}
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Fecha inicio</th>
                            <th>Fecha fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in auditoria.cursos %}
                            <tr class="gradeA">
                                <td>{{ entity.curso.id }}</td>
                                <td>{{ entity.curso.fechaInicio|date('d/m/Y H:i') }}</td>
                                <td>{{ entity.curso.fechaFin|date('d/m/Y H:i') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            {% endif %}

        </div>
    </div> #}
{% endblock %}
