{% extends 'ChoferesBundle:Layout:layout.html.twig' %}
{% form_theme filterForm 'ChoferesBundle:Sede:fieldsFilter.html.twig' %}

{% block title %}
    Sede
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}


{% block pageHeader%}
    <h1 class="page-title">Sedes</h1>
    <ol class="breadcrumb">
      <li><a href="{{ path('home') }}">Inicio</a></li>
      <li class="active">Sedes</li>
    </ol>
    {% if not filterForm.vars.valid %}
            <div class="alert alert-block alert-error fade in form-errors">
                {{ form_errors(filterForm) }}
            </div>
    {% endif %}
    <div class="page-header-actions">
        <a class="btn btn-sm btn-default btn-outline btn-round" data-toggle="collapse"  data-target="#filters" aria-expanded="false" aria-controls="exampleCollapseExample">
            <i class="icon wb-chevron-down" aria-hidden="true"></i>
            <span class="hidden-xs">Filtrar</span>
        </a>
    </div>


    <div class="span12">
        <div id="filters" class="collapse">

            <form class="well" action="{{ path('sede') }}" method="get" {{ form_enctype(filterForm) }}>
                <div class="row">
                    {{ form_widget(filterForm.nombre, {'attr': {'class': 'form-control'}}) }}
                    {{ form_widget(filterForm.direccion, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="row">
                    {{ form_widget(filterForm.provincia, {'attr': {'class': 'form-control'}}) }}
                    {{ form_widget(filterForm.ciudad, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="row">
                    {{ form_widget(filterForm.telefono, {'attr': {'class': 'form-control'}}) }}
                    {% if (app.user.rol == 'ROLE_CNTSV') %}
                        {{ form_widget(filterForm.prestador, {'attr': {'class': 'form-control'}}) }}
                    {% endif %}
                </div>
                <div class="row">
                    {{ form_widget(filterForm.aulas, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_row(filterForm._token) }}
                <div class="row">
                    <div class="col-sm-6 col-md-4 margin-top-20">
                        <button type="submit" class="btn btn-success " name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                        <button type="submit" class="btn btn btn-outline btn-default " name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    </div>
                </div> <!-- row-->
            </form>
        </div>
    </div>
{% endblock %}
{% block page %}

<!-- Panel Table Add Row -->
<div class="panel">
    <div class="panel-body">

        <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">


    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Provincia</th>
            <th>Ciudad</th>
            <th>Telefono</th>
            <th>Aulas</th>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                    <th>Prestador</th>
                {% endif %}
            {% endif %}
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="gradeA">
            <td><a onclick="saveInLocalStorage('sede');" href="{{ path('sede_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.direccion }}</td>
            <td>{{ entity.provincia }}</td>
            <td>{{ entity.ciudad }}</td>
            <td>{{ entity.telefono }}</td>
            <td>{{ entity.aulas }}</td>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                    <td>{{ entity.prestador }}</td>
                {% endif %}
            {% endif %}
            <td class="actions">
                <a onclick="saveInLocalStorage('sede');" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Ver"
                   href="{{ path('sede_show', { 'id': entity.id }) }}">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                </a>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                        <a onclick="saveInLocalStorage('sede');" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Editar"
                           href="{{ path('sede_edit', { 'id': entity.id }) }}">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

        <div class="dt-panelfooter clearfix">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                    <a class="btn btn btn-success margin-top-10" href="{{ path('sede_new') }}">
                        {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Sede
                    </a>
                {% endif %}
            {% endif %}
            <div class="dataTables_paginate paging_simple_numbers" id="exampleTableTools_paginate">
                {{ pagerHtml|raw }}
            </div>
        </div>
    </div>



    </div>

{% endblock %}
