{% extends 'ChoferesBundle:Layout:layout.html.twig' %}

{% block title %}
    Sede
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}


{% block pageHeader%}
    <h1 class="page-title">Sede</h1>
    {% if form_errors(filterForm) %}
        <div class="span2">

            <div class="alert alert-block alert-error fade in form-errors">
                {{ form_errors(filterForm) }}
            </div>

            &nbsp;
        </div>
    {% endif %}
    <div class="page-header-actions">
        <a class="btn btn-sm btn-default btn-outline btn-round" data-toggle="collapse"  data-target="#filters" aria-expanded="false" aria-controls="exampleCollapseExample">
            <i class="icon wb-chevron-down" aria-hidden="true"></i>
            <span class="hidden-xs">Filtrar</span>
        </a>
    </div>


    <div class="span12">
        <div id="filters" class="collapse">

            <form class="well" action="{{ path('sede') }}" method="get" {{ form_enctype(filterForm) }}>
                {#{{ form_row(filterForm.id) }}#}
                {{ form_row(filterForm.nombre) }}
                {{ form_row(filterForm.direccion) }}
                {{ form_row(filterForm.provincia) }}
                {{ form_row(filterForm.ciudad) }}
                {{ form_row(filterForm.telefono) }}
                {{ form_rest(filterForm) }}
                <div class="row">
                    <div class="col-sm-6 col-md-4 margin-top-20">
                        <button type="submit" class="btn btn-outline btn-default" name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                        <button type="submit" class="btn btn btn-success" name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    </div>
                </div> <!-- row-->
            </form>
        </div>
    </div>
{% endblock %}
{% block page %}

<!-- Panel Table Add Row -->
<div class="panel">
    <div class="panel-body">

        <table class="table table-bordered table-hover table-striped">


    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Provincia</th>
            <th>Ciudad</th>
            <th>Telefono</th>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                    <th>Prestador</th>
                {% endif %}
            {% endif %}
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="gradeA">
            <td><a href="{{ path('sede_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.direccion }}</td>
            <td>{{ entity.provincia }}</td>
            <td>{{ entity.ciudad }}</td>
            <td>{{ entity.telefono }}</td>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                    <td>{{ entity.prestador }}</td>
                {% endif %}
            {% endif %}
            <td>
                <a class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="ver"
                   href="{{ path('sede_show', { 'id': entity.id }) }}">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                </a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                        <a class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="editar"
                           href="{{ path('sede_edit', { 'id': entity.id }) }}">
                            <i class="icon wb-pencil" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>

    <div class="dt-panelfooter clearfix">
        <div class="dataTables_paginate paging_simple_numbers" id="exampleTableTools_paginate">
            {{ pagerHtml|raw }}
        </div>
    </div>

        <div class="span8">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                <a class="btn btn-primary likepaginator" href="{{ path('sede_new') }}">
                    {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Sede
                </a>
            {% endif %}
        {% endif %}

    </div>
    </div>

{% endblock %}
