{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Sede'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block page %}

<h1>Sede</h1>

<form class="form-horizontal">
    <fieldset>        <div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.id }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Nombre</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.nombre }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Direccion</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.direccion }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Provincia</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.provincia }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Ciudad</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.ciudad }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Telefono</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.telefono }}</span>            </div>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                <div class="control-group">
                    <label class="control-label">Prestador</label>
                    <div class="controls"><span class="input-xlarge uneditable-input">{{ entity.prestador }}</span></div>
                </div>
            {% endif %}
        {% endif %}
      </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('sede') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if (app.user.rol != 'ROLE_PRESTADOR') %}
            <div class="float-left">
                <a class="btn btn-primary" href="{{ path('sede_edit', { 'id': entity.id }) }}">
                    {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                </a>
            </div>
        {% endif %}
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if (app.user.rol != 'ROLE_PRESTADOR') %}
            <div class="float-left">
                <form action="{{ path('sede_delete', { 'id': entity.id }) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE" />
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </form>
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
