{% extends 'ChoferesBundle:Layout:layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Curso'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader %}
    <h1 class="page-title">Agregar chofer</h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('curso') }}">Cursos</a></li>
        <li class="active">Agregar Chofer</li>
    </ol>
{% endblock %}

{% block page %}
  <style>
    td.highlight {
      font-weight: bold;
      color: red;
    }
  </style>

  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">Escriba para buscar un nombre existente.</h4>
    </div>

    <div class="panel-body container-fluid">
      <form action="{{ path('curso_addchofer') }}" method="post">
        <div class="row ">
          <div class="col-sm-6 col-md-6 ">
            <h4 class="example-title">Buscar chofer</h4>
            <input id="typeahead" type="text" class="form-control" data-provide="typeahead" autocomplete="off" placeholder="Buscar chofer">
            <input id="idcurso" type="hidden" name="idCurso" value="{{idCurso}}">
          </div>
        </div> <!-- row-->
         <div class="row ">
          <div class="col-sm-6 col-md-4 margin-top-30">
            <table class="table table-bordered table-hover table-striped" id="exampleAddRow">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Dni</th>
                  <th>Tiene curso basico</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody id="choferesCandidatos">
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 margin-top-20">
            <button type="submit" class="btn btn btn-success disabled" id="addChoferSubmit" disabled>Agregar los siguientes choferes</button>
      </form>
          </div>
        </div> <!-- row-->
        <div class="row">
          <div class="col-sm-6 col-md-8 margin-top-10">
            <a class="btn btn-outline btn-default" href="{{ path('curso') }}">
              Volver al listado
            </a>
          </div>
        </div>
        <table class="table table-bordered table-hover table-striped margin-top-30" id="exampleAddRow">
          <thead>
            <tr>
              <td>Nombre</td>
              <td>Apellido</td>
              <td>Dni</td>
              <td>Tiene curso basico</td>
              <td>Acciones</td>
            </tr>
          </thead>
          <tbody>
            {% for entity in entities %}
            <tr class="gradeA">
              <td>{{ entity.nombre }}</td>
              <td>{{ entity.apellido }}</td>
              <td>{{ entity.dni }}</td>
              <td{% if entity.tieneCursoBasico %}>Si{% else %} class="highlight">No{% endif %}</td>
              <td class="actions">
                <a href="{{ path('curso_borrarchofer', { 'idBorrar': entity.id, 'idCurso':idCurso  }) }}" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row"
                data-toggle="tooltip" data-original-title="Borrar"><i class="icon wb-trash" aria-hidden="true"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{{ asset('bundles/choferes/js/autocompletar.js') }}"></script>
{% endblock %}
