{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}
{% block javascript %}
    <script src="{{ asset('bundles/choferes/js/autocompletar.js') }}"></script>
{% endblock %}
{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Curso'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block page %}

    <div id="listaChoferes">
        <form action="{{ path('curso_realizar', { 'id': curso.id }) }}" method="post">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dni</th>
                <th>Documentación completa</th>
            </tr>
            </thead>
            <tbody>

            {% for entity in entities %}
                <tr>

                    <td>{{ entity.chofer.nombre }}</td>
                    <td>{{ entity.chofer.apellido }}</td>
                    <td>{{ entity.chofer.dni }}</td>

                    <td>
                        <input type="number" name="{{ entity.id }}" value="{{ entity.aprobado }}" /> </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
            <button type="submit" name="submit" class="btn btn-success"
                    id="cargarNotasSubmit" >Subir Notas</button>
        </form>
    </div>
{% endblock %}
