{% extends 'ChoferesBundle:Layout:layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Curso'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageTitle %}Cargar notas{% endblock %}

{% block page %}
<div class="panel">
  <div class="panel-body">
    <form action="{{ path('curso_realizar', { 'id': curso.id }) }}" method="post">
      <table class="table table-bordered table-hover table-striped" id="exampleAddRow">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Nota</th>
          </tr>
        </thead>
        <tbody>
          {% for entity in entities %}
            <tr class="gradeA">
              <td>{{ entity.chofer.nombre }}</td>
              <td>{{ entity.chofer.apellido }}</td>
              <td>{{ entity.chofer.dni }}</td>
              <td class="actions">
                <input type="number" class="form-control" name="{{ entity.id }}" value="{{ entity.aprobado }}" /> </td>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="dt-panelfooter clearfix">
        <button type="submit" name="submit" class="btn btn-success margin-top-10" id="cargarNotasSubmit">Cargar Notas</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
