{% block _choferesbundle_cursofiltertype_fechaInicio_left_date_widget %}
  <div class="col-sm-6 col-md-4">
  <h4 class="example-title">Fecha inicio (desde)</h4>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="icon wb-calendar" aria-hidden="true"></i>
      </span>
      {{ block('form_widget_simple') }}
    </div>
  </div>
{% endblock %}

{% block _choferesbundle_cursofiltertype_fechaInicio_right_date_widget %}
  <div class="col-sm-6 col-md-4">
  <h4 class="example-title">Fecha inicio (hasta)</h4>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="icon wb-calendar" aria-hidden="true"></i>
      </span>
      {{ block('form_widget_simple') }}
    </div>
  </div>
{% endblock %}

{% block _choferesbundle_cursofiltertype_fechaFin_left_date_widget %}
  <div class="col-sm-6 col-md-4">
  <h4 class="example-title">Fecha fin (desde)</h4>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="icon wb-calendar" aria-hidden="true"></i>
      </span>
      {{ block('form_widget_simple') }}
    </div>
  </div>
{% endblock %}

{% block _choferesbundle_cursofiltertype_fechaFin_right_date_widget %}
  <div class="col-sm-6 col-md-4">
  <h4 class="example-title">Fecha fin (hasta)</h4>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="icon wb-calendar" aria-hidden="true"></i>
      </span>
      {{ block('form_widget_simple') }}
    </div>
  </div>
{% endblock %}

{% block _choferesbundle_cursofiltertype_codigo_widget %}
  <div class="col-sm-6 col-md-4">
    <div class="">
      <h4 class="example-title">Código</h4>
      {{ block('form_widget_simple') }}
    </div>
  </div>
{% endblock %}

{% block _choferesbundle_cursofiltertype_comprobante_widget %}
  <div class="col-sm-6 col-md-4">
    <div class="">
      <h4 class="example-title">Comprobante</h4>
      {{ block('form_widget_simple') }}
    </div>
  </div>
{% endblock %}

{% block _choferesbundle_cursofiltertype_sede_widget %}
  <div class="col-sm-6 col-md-4">
    <h4 class="example-title">Sede</h4>
    <div class="form-group">
      {{ block('choice_widget') }}
    </div>
  </div>
{% endblock %}

{% block _choferesbundle_cursofiltertype_docente_widget %}
  <div class="col-sm-6 col-md-4">
    <h4 class="example-title">Docente</h4>
    <div class="form-group">
      {{ block('choice_widget') }}
    </div>
  </div>
{% endblock %}

{% block _choferesbundle_cursofiltertype_tipocurso_widget %}
  <div class="col-sm-6 col-md-4">
    <h4 class="example-title">Tipo de curso</h4>
    <div class="form-group">
      {{ block('choice_widget') }}
    </div>
  </div>
{% endblock %}

{% block _choferesbundle_cursofiltertype_estado_widget %}
  <div class="col-sm-6 col-md-4">
    <h4 class="example-title">Estado</h4>
    <div class="form-group">
      {{ block('choice_widget') }}
    </div>
  </div>
{% endblock %}

{% block _choferesbundle_cursofiltertype_prestador_widget %}
  <div class="col-sm-6 col-md-4">
    <h4 class="example-title">Prestador</h4>
    <div class="form-group">
      {{ block('choice_widget') }}
    </div>
  </div>
{% endblock %}

{% block form_errors %}
  {% spaceless %}
    {% if errors|length > 0 %}
      {% for error in errors %}
        <div class="alert ng-isolate-scope alert-danger alert-dismissible">
          <div><span class="ng-binding ng-scope">{{ error.message }}</span></div>
        </div>
      {% endfor %}
    {% endif %}
  {% endspaceless %}
{% endblock %}

{% block _choferesbundle_cursofiltertype_id_widget %}
  <div class="col-sm-6 col-md-4">
    <div class="">
      <h4 class="example-title">Id</h4>
      {{ block('form_widget_simple') }}
    </div>
  </div>
{% endblock %}
