{% extends 'ChoferesBundle:Layout:layout.html.twig' %}
{% form_theme filterForm 'ChoferesBundle:Curso:fieldsFilter.html.twig' %}

{% block title %}
    Cursos
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader %}
    <h1 class="page-title">Cursos</h1>
    <ol class="breadcrumb">
      <li><a href="{{ path('home') }}">Inicio</a></li>
      <li class="active">Cursos</li>
    </ol>
    {% if not filterForm.vars.valid %}
            <div class="alert alert-block alert-error fade in form-errors">
                {{ form_errors(filterForm) }}
            </div>
    {% endif %}
    <div class="page-header-actions">
        <a class="btn btn-sm btn-default btn-outline btn-round" data-toggle="collapse"  data-target="#filters" aria-expanded="false" aria-controls="exampleCollapseExample">
            <i class="icon wb-chevron-down" aria-hidden="true"></i>
            <span class="hidden-xs">Filtrar</span>
        </a>
    </div>

        <div id="filters" class="collapse">
            <form class="well" action="{{ path('curso') }}" method="get" {{ form_enctype(filterForm) }}>

              <div class="row">
                {{ form_widget(filterForm.fechaInicio, {'attr': {'class': 'form-control', 'data-provide': 'datepicker', 'data-date-format': 'dd/mm/yyyy', 'data-date-autoclose': 'true'}}) }}
              </div>
              <div class="row">
                {{ form_widget(filterForm.fechaFin, {'attr': {'class': 'form-control', 'data-provide': 'datepicker', 'data-date-format': 'dd/mm/yyyy', 'data-date-autoclose': 'true'}}) }}
              </div>
              {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                  {% if (app.user.rol == 'ROLE_CNTSV') %}
                    <div class="row">
                      {{ form_widget(filterForm.prestador, {'attr': {'class': 'form-control'}}) }}
                      {{ form_widget(filterForm.codigo, {'attr': {'class': 'form-control'}}) }}
                    </div>
                  {% endif %}
                  {% if (app.user.rol == 'ROLE_PRESTADOR') %}
                    <div class="row">
                      {{ form_widget(filterForm.sede, {'attr': {'class': 'form-control'}}) }}
                      {{ form_widget(filterForm.docente, {'attr': {'class': 'form-control'}}) }}
                    </div>
                  {% endif %}
              {% endif %}
              <div class="row">
                {{ form_widget(filterForm.tipocurso, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(filterForm.estado, {'attr': {'class': 'form-control'}}) }}
              </div>

                {{ form_rest(filterForm) }}
                <div class="row">
                    <div class="col-sm-6 col-md-4 margin-top-20">
                        <button type="submit" class="btn btn btn-success" name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                        <button type="submit" class="btn btn-outline btn-default" name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    </div>
                </div> <!-- row-->
            </form>
        </div>
{% endblock %}
{% block page %}
    <!-- Panel Table Add Row -->
    <div class="panel">
        <div class="panel-body">
            <table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha de inicio</th>
            <th>Fecha de fin</th>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                    <th>Prestador</th>
                {% endif %}
            {% endif %}
            <th>Codigo</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr  class="gradeA">
            <td><a href="{{ path('curso_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('d/m/Y H:i') }}{% endif %}</td>
            <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('d/m/Y H:i') }}{% endif %}</td>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                    <td>{{ entity.prestador }}</td>
                {% endif %}
            {% endif %}
            <td>{{ entity.codigo }}</td>
            <td>{{ entity.tipocurso }}</td>
            <td>{{ entity.estado }}</td>
            <td>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
              {% if app.user.rol == 'ROLE_CNTSV' %}
                  <a  class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Ver"
                     href="{{ path('curso_show', { 'id': entity.id }) }}">
                      <i class="icon wb-eye" aria-hidden="true"></i>
                  </a>
                  <a  class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Editar"
                     href="{{ path('curso_edit', { 'id': entity.id }) }}">
                      <i class="icon wb-edit" aria-hidden="true"></i>
                  </a>
                  {% if entity.estado.id != 4 %} <!--Estado: Cancelado -->
                  <a  class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Cancelar"
                     href="{{ path('curso_cancelar', { 'id': entity.id }) }}">
                      <i class="icon wb-close red-400" aria-hidden="true"></i>
                  </a>
                  {% endif %}
                  {% if entity.estado.id == 1 %} <!--Estado: Cargado-->
                    <a class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Confirmar"
                       href="{{ path('curso_confirmar', { 'id': entity.id }) }}">
                        <i class="icon wb-check-circle green-600" aria-hidden="true"></i>
                    </a>
                  {% elseif entity.estado.id == 2 %} <!--Estado: Confirmado-->
                    {% if entity.fechaInicio|date('U') >= "now"|date('U') %}
                        <a  class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Agregar choferes"
                         href="{{ path('curso_addchofer', { 'idCurso': entity.id }) }}">
                            <i class="icon wb-user-add" aria-hidden="true"></i>
                      </a>
                    {% endif %}
                    {% if entity.fechaInicio|date('U') < "now"|date('U') %}
                        <a  class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Cargar notas"
                         href="{{ path('curso_realizar', { 'id': entity.id }) }}">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                      </a>
                    {% endif %}
                  {% elseif entity.estado.id == 3 %} <!--Estado: Por Validar-->
                      <a  class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Aprobar documentación"
                       href="{{ path('curso_documentacion', { 'id': entity.id }) }}">
                        <i class="icon wb-check green-400" aria-hidden="true"></i>
                    </a>
                  {% elseif entity.estado.id == 5 %} <!-- Estado: Validado -->
                      <a  class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Actualizar documentación"
                       href="{{ path('curso_documentacion', { 'id': entity.id }) }}">
                        <i class="icon wb-check green-400" aria-hidden="true"></i>
                    </a>
                    <a  class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Actualizar notas"
                     href="{{ path('curso_realizar', { 'id': entity.id }) }}">
                        <i class="icon wb-edit" aria-hidden="true"></i>
                  </a>
                  {% endif %}
              {% elseif app.user.rol == 'ROLE_PRESTADOR' %}
                  <a  class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Ver"
                   href="{{ path('curso_show', { 'id': entity.id }) }}">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                </a>
                {% if entity.estado.id == 1 and entity.fechaInicio|date('U') > "+4 days"|date('U') %} <!--Estado: Cargado-->
                    <a  class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Editar"
                     href="{{ path('curso_edit', { 'id': entity.id }) }}">
                      <i class="icon wb-edit" aria-hidden="true"></i>
                  </a>
                    <a  class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Cancelar"
                     href="{{ path('curso_cancelar', { 'id': entity.id }) }}">
                      <i class="icon wb-close red-400" aria-hidden="true"></i>
                  </a>
                {% elseif entity.estado.id == 2 %} <!--Estado: Confirmado-->
                  {% if entity.fechaInicio|date('U') > "+4 days"|date('U') %}
                     <a  class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Agregar choferes"
                       href="{{ path('curso_addchofer', { 'idCurso': entity.id }) }}">
                        <i class="icon wb-user-add" aria-hidden="true"></i>
                    </a>
                  {% endif %}
                  {% if entity.fechaInicio|date('U') < "now"|date('U') %}
                      <a  class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Cargar notas"
                       href="{{ path('curso_realizar', { 'id': entity.id }) }}">
                          <i class="icon wb-edit" aria-hidden="true"></i>
                    </a>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="dt-panelfooter clearfix">

  <a class="btn btn btn-success margin-top-10 likepaginator" href="{{ path('curso_new') }}">
          {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Curso
      </a>

    <div class="dataTables_paginate paging_simple_numbers" id="exampleTableTools_paginate">
        {{ pagerHtml|raw }}
    </div>
</div>

    </div>
  </div>

{% endblock %}
