{% extends 'ChoferesBundle:Layout:layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Curso'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/vendor/datatables-bootstrap/dataTables.bootstrap.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/vendor/datatables-fixedheader/dataTables.fixedHeader.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/vendor/datatables-responsive/dataTables.responsive.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/vendor/jt-timepicker/jquery-timepicker.css') }}">
{% endblock %}

{% block page %}

<div class="row">

    <div class="span8">
        <h1>{{ 'views.index.list'|trans({'%entity%': 'Curso'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>
    </div>
    <div class="span2">
        {% if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="span2">
        <div class="filters-right">
            <a class="btn dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>

    <div class="span12">
        <div id="filters" class="collapse">

            <form class="well" action="{{ path('curso') }}" method="get" {{ form_enctype(filterForm) }}>
                {#{{ form_row(filterForm.id) }}#}
                {#{{ form_row(filterForm.fechaInicio) }}#}

                {{ form_row(filterForm.fechaInicio, {'attr': {'class': 'form-control', 'data-provide': 'datepicker', 'data-date-format': 'dd/mm/yyyy', 'data-date-autoclose': 'true'}}) }}

                {{ form_row(filterForm.fechaFin) }}
                {{ form_row(filterForm.codigo) }}
                {{ form_rest(filterForm) }}

                <p>
                    <button type="submit" name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    <button type="submit" name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </p>
            </form>
        </div>
    </div>

    <div class="span12">

    <table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha de inicio</th>
            <th>Fecha de fin</th>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                    <th>Prestador</th>
                {% endif %}
            {% endif %}
            <th>Codigo</th>
            <th>Año</th>
            <th>Comprobante</th>
            <th>Fecha de pago</th>
            <th>Docente</th>
            <th>Sede</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('curso_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('d/m/Y H:i') }}{% endif %}</td>
            <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('d/m/Y H:i') }}{% endif %}</td>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                    <td>{{ entity.prestador }}</td>
                {% endif %}
            {% endif %}
            <td>{{ entity.codigo }}</td>
            <td>{{ entity.anio }}</td>
            <td>{{ entity.comprobante }}</td>
            <td>{% if entity.fechaPago %}{{ entity.fechaPago|date('d/m/Y') }}{% endif %}</td>
            <td>{{ entity.docente }}</td>
            <td>{{ entity.sede }}</td>
            <td>{{ entity.tipocurso }}</td>
            <td>{{ entity.estado }}</td>
            <td>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
              {% if app.user.rol == 'ROLE_CNTSV' %}
                  <a class="btn btn-mini" href="{{ path('curso_show', { 'id': entity.id }) }}">
                      {{ 'views.actions.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                  </a>
                  <a class="btn btn-mini" href="{{ path('curso_edit', { 'id': entity.id }) }}">
                      {{ 'views.actions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                  </a>
                  {% if entity.estado.id != 4 %} <!--Estado: Cancelado -->
                  <a class="btn btn-mini btn-danger" href="{{ path('curso_cancelar', { 'id': entity.id }) }}">
                      Cancelar Curso
                  </a>
                  {% endif %}
                  {% if entity.estado.id == 1 %} <!--Estado: Cargado-->
                    <a class="btn btn-mini" href="{{ path('curso_confirmar', { 'id': entity.id }) }}">
                        Confirmar Curso
                    </a>
                  {% elseif entity.estado.id == 2 %} <!--Estado: Confirmado-->
                    {% if entity.fechaInicio|date('U') >= "now"|date('U') %}
                      <a class="btn btn-mini" href="{{ path('curso_addchofer', { 'idCurso': entity.id }) }}">
                          Agregar choferes
                      </a>
                    {% endif %}
                  {% elseif entity.estado.id == 3 %} <!--Estado: Por Validar-->
                    <a class="btn btn-mini" href="{{ path('curso_documentacion', { 'id': entity.id }) }}">
                        Aprobar Documentación
                    </a>
                  {% endif %}
              {% elseif app.user.rol == 'ROLE_PRESTADOR' %}
                <a class="btn btn-mini" href="{{ path('curso_show', { 'id': entity.id }) }}">
                    {{ 'views.actions.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                </a>
                {% if entity.estado.id == 1 and entity.fechaInicio|date('U') > "+4 days"|date('U') %} <!--Estado: Cargado-->
                  <a class="btn btn-mini" href="{{ path('curso_edit', { 'id': entity.id }) }}">
                      {{ 'views.actions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                  </a>
                  <a class="btn btn-mini btn-danger" href="{{ path('curso_cancelar', { 'id': entity.id }) }}">
                      Cancelar Curso
                  </a>
                {% elseif entity.estado.id == 2 %} <!--Estado: Confirmado-->
                  {% if entity.fechaInicio|date('U') > "+4 days"|date('U') %}
                    <a class="btn btn-mini" href="{{ path('curso_addchofer', { 'idCurso': entity.id }) }}">
                        Agregar choferes
                    </a>
                  {% endif %}
                  {% if entity.fechaInicio|date('U') < "now"|date('U') %}
                    <a class="btn btn-mini" href="{{ path('curso_realizar', { 'id': entity.id }) }}">
                        Cargar Notas
                    </a>
                  {% endif %}
                  <a class="btn btn-mini btn-danger" href="{{ path('curso_cancelar', { 'id': entity.id }) }}">
                      Cancelar Curso
                  </a>
                {% endif %}
              {% endif %}
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    </div>

    <div class="span4">
    {{ pagerHtml|raw }}
    </div>

        <div class="span8">
    <a class="btn btn-primary likepaginator" href="{{ path('curso_new') }}">
            {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Curso
        </a>
    </div>
    </div>

{% endblock %}
