{% extends 'ChoferesBundle:Layout:layout.html.twig' %}
{% form_theme form 'ChoferesBundle:Curso:fields.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Curso'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageTitle %}Crear Curso{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/vendor/datatables-bootstrap/dataTables.bootstrap.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/vendor/datatables-fixedheader/dataTables.fixedHeader.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/vendor/datatables-responsive/dataTables.responsive.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/vendor/jt-timepicker/jquery-timepicker.css') }}">
{% endblock %}

{% block page %}

<!-- Page -->
      <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Todos los campos son obligatorios</h3>
            </div>
                  <div class="panel-body container-fluid">
                    <form action="{{ path('curso_create') }}" method="post" {{ form_enctype(form) }}>
                         <div class="row margin-top-30">
                           {{ form_widget(form.fechaInicio, {'attr': {'class': 'form-control', 'data-provide': 'datepicker', 'data-date-format': 'dd/mm/yyyy', 'data-date-autoclose': 'true'}}) }}
                           {{ form_widget(form.horaInicio, {'attr': {'class': 'form-control ui-timepicker-input', 'data-plugin': 'timepicker', 'autocomplete': 'off', 'data-time-format': 'H:i'}}) }}
                         </div> <!-- row-->
                         <div class="row margin-top-30">
                           {{ form_widget(form.fechaFin, {'attr': {'class': 'form-control', 'data-provide': 'datepicker', 'data-date-format': 'dd/mm/yyyy', 'data-date-autoclose': 'true'}}) }}
                           {{ form_widget(form.horaFin, {'attr': {'class': 'form-control ui-timepicker-input', 'data-plugin': 'timepicker', 'autocomplete': 'off', 'data-time-format': 'H:i'}}) }}
                         </div> <!-- row-->

                         {% if app.user.rol == 'ROLE_CNTSV' %}
                         <div class="row margin-top-30">
                           {{ form_widget(form.anio, {'attr': {'class': 'form-control'}}) }}
                           {{ form_widget(form.codigo, {'attr': {'class': 'form-control'}}) }}
                         </div>
                           <div class="row margin-top-30">
                           {{ form_widget(form.comprobante, {'attr': {'class': 'form-control'}}) }}
                           {{ form_widget(form.fechaPago, {'attr': {'class': 'form-control'}}) }}
                         </div>
                         <div class="row margin-top-30">
                           {{ form_widget(form.observaciones, {'attr': {'class': 'form-control'}}) }}
                           {{ form_widget(form.prestador, {'attr': {'class': 'form-control'}}) }}
                         </div>
                         {% endif %}

                         <div class="row margin-top-30">
                           {{ form_widget(form.sede, {'attr': {'class': 'form-control'}}) }}
                           {{ form_widget(form.docente, {'attr': {'class': 'form-control'}}) }}
                         </div> <!-- row-->
                         <div class="row margin-top-30">
                          {{ form_widget(form.tipocurso, {'attr': {'class': 'form-control'}}) }}
                         </div> <!-- row-->

                         <div class="row">
                           <div class="col-sm-6 col-md-4 margin-top-20">
                             <button type="button" class="btn btn-outline btn-default">Limpiar </button>
                             <!-- <button type="submit" class="btn btn btn-success">Crear</button> -->
                             <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                           </div>
                         </div> <!-- row-->

                         {{ form_end(form) }}

                        </div><!-- panel-->
                        </div><!-- panel body-->

  <!-- End Page -->

{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/choferes/js/cursoForm.js') }}"></script>

    <script>
      $('#choferesbundle_curso_anio').datepicker({format: "yyyy", autoclose: true, minViewMode: "years" });
      $('#choferesbundle_curso_fechaPago').datepicker({format: "dd/mm/yyyy", autoclose: true });
    </script>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      {% if app.user.rol == 'ROLE_PRESTADOR' %}
        <script>
          var dt = new Date();
          dt.setDate(dt.getDate() + 5);
          $('#choferesbundle_curso_fechaInicio').datepicker({startDate: dt });
          $('#choferesbundle_curso_fechaFin').datepicker({startDate: dt });
        </script>
      {% endif %}
    {% endif %}

{% endblock %}
