{% extends 'ChoferesBundle:Layout:layout.html.twig' %}
{% form_theme comprobante_pago_form 'ChoferesBundle:Curso:fields.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Curso'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader %}
<h1 class="page-title">Ver curso</h1>
<ol class="breadcrumb">
  <li><a href="{{ path('curso') }}">Cursos</a></li>
  <li class="active">Ver Curso</li>
</ol>
{% endblock %}

{% block page %}
<div class="panel">
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped" id="exampleAddRow">
        <tbody>
          <tr class="gradeA">
            <td><b>ID</b></td>
            <td>{{ curso.id }}</td>
          </tr>
          <tr class="gradeA">
            <td><b>Fecha de inicio</b></td>
            <td>{{ curso.fechaInicio|date('d/m/Y H:i') }}</td>
          </tr>
          <tr class="gradeA">
            <td><b>Fecha de fin</b></td>
            <td>{{ curso.fechaFin|date('d/m/Y H:i') }}</td>
          </tr>
          {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.rol != 'ROLE_PRESTADOR'%}
            <tr class="gradeA">
              <td><b>Prestador</b></td>
              <td>{{ curso.prestador }}</td>
            </tr>
          {% endif %}
          <tr class="gradeA">
            <td><b>Nro de TRI</b></td>
            <td>{{ curso.codigo }}</td>
          </tr>
          <tr class="gradeA">
            <td><b>Docente</b></td>
            <td>{{ curso.docente }}</td>
          </tr>
          <tr class="gradeA">
            <td><b>Sede</b></td>
            <td>{{ curso.sede }}</td>
          </tr>
          <tr class="gradeA">
            <td><b>Tipo</b></td>
            <td>{{ curso.tipocurso }}</td>
          </tr>
          <tr class="gradeA">
            <td><b>Estado</b></td>
            <td>{{ curso.estado }}</td>
          </tr>
          {% if curso.usaModuloPago %}
          <tr class="gradeA">
            <td><b>Monto a recaudar ($)</b></td>
            <td>{{ curso.montoTotal }} $</td>
          </tr>
          <tr class="gradeA">
            <td><b>Monto recaudado ($)</b></td>
            <td>{{ curso.montoRecaudado }} $</td>
          </tr>
          {% else %}
          <tr class="gradeA">
            <td><b>Comprobante</b></td>
            <td>{{ curso.comprobante }}</td>
          </tr>
          {% endif %}
          <tr class="gradeA">
            <td><b>Fecha de pago</b></td>
            <td>{% if curso.fechaPago %}{{ curso.fechaPago|date('d/m/Y') }}{% endif %}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="dt-panelfooter clearfix">
      <a id="listado" href="{{ path('curso') }}" class="btn btn-outline btn-default margin-top-10">
        Volver al listado
      </a>
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if app.user.rol == 'ROLE_CNTSV' %}
          <button type="button" onclick="location.href='{{ path('curso_edit', { 'id': curso.id }) }}'" class="btn btn-success margin-top-10">
            Editar
          </button>
          <a href="{{ path('curso_cancelar', { 'id': curso.id }) }}" class="btn btn-success margin-top-10 cancelarCurso">
            Cancelar Curso
          </a>
        <!--Estado: Cargado-->
        {% elseif app.user.rol == 'ROLE_PRESTADOR' and curso.estado.id == 1 and curso.fechaInicio|date('U') > "+4 days"|date('U') %}
          <button type="button" onclick="location.href='{{ path('curso_edit', { 'id': curso.id }) }}'" class="btn btn-success margin-top-10">
            Editar
          </button>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

<!-- Panel :: Comprobantes de Pago -->
{% if curso.usaModuloPago %}
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Comprobantes de Pago</b></h3>
  </div>
  <div class="panel-body">
    {% if curso.comprobantesPago is empty %}
      <h4 class="example-title">No hay comprobantes de pago cargados</h4>
    {% else %}
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped" id="exampleAddRow">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Monto ($)</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
          {% for comprobantePago in curso.comprobantesPago %}
            <tr class="gradeA">
              <td>{{ comprobantePago.codigo }}</td>
              <td>$ {{ comprobantePago.monto }}</td>
              <td>
                <a class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Editar" href="{{ path('curso_comprobantepago_edit', { 'idCurso': curso.id, 'idComprobantePago': comprobantePago.id }) }}">
                  <i class="icon wb-edit" aria-hidden="true"></i>
                </a>
                <a class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row deleteComprobantePago" data-toggle="tooltip" data-original-title="Borrar" href="{{ path('curso_comprobantepago_delete', { 'idCurso': curso.id, 'idComprobantePago': comprobantePago.id }) }}">
                  <i class="icon wb-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <h4 class="example-title">Monto Total ($): <b>${{ curso.montoTotal }}</b></h4>
          </div>
          <div class="col-sm-4 col-md-4">
            <h4 class="example-title">Monto Recaudado ($): <b>${{ curso.montoRecaudado }}</b></h4>
          </div>
        </div>
      </div>
    {% endif %}
      <div class="dt-panelfooter clearfix">
        <button type="button" class="btn btn-success" id="showComprobantePagoForm">
          Cargar comprobante
        </button>
        <div class="panel margin-top-20" id="comprobantePagoForm" style="display:none;">
          <div class="panel-body">
            <form action="{{ path('curso_comprobantepago_create', { 'id': curso.id }) }}" method="post">
              <div class="row">
                {{ form_widget(comprobante_pago_form.codigo, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(comprobante_pago_form.monto, {'attr': {'class': 'form-control', 'placeholder': 'XXXX.YY'}}) }}
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4 margin-top-20">
                  {{ form_widget(comprobante_pago_form.reset, {'attr': {'class': 'btn btn-outline btn-default'}}) }}
                  <button type="submit" class="btn btn-success">Guardar</button>
                </div>
              </div>
            {{ form_end(comprobante_pago_form) }}
          </div>
        </div>
      </div>
  </div>
</div>
{% endif %}

<!-- Panel :: Choferes asigandos -->
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Choferes asignados</b></h3>
  </div>
  <div class="panel-body">
    {% if curso.choferCursos is empty %}
      <h4 class="example-title">No hay choferes asignados</h4>
    {% else %}
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped" id="exampleAddRow">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Dni</th>
              <th>Nota</th>
            </tr>
          </thead>
          <tbody>
          {% for choferCurso in curso.choferCursos %}
            <tr class="gradeA">
              <td>{{ choferCurso.chofer.nombre }}</td>
              <td>{{ choferCurso.chofer.apellido }}</td>
              <td>{{ choferCurso.chofer.dni }}</td>
              <td>
                {% if choferCurso.isAprobado %}Aprobado{% else %}Desaprobado{% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  function showForm($form) {
    $form.slideToggle(300);
  };

  getInLocalStorage('curso');

  (function(window, document, $) {

    $("#showComprobantePagoForm").click(function() {
      showForm($("#comprobantePagoForm"));
    });

    $(".deleteComprobantePago").on("click",function(e) {
      e.stopPropagation();
      e.preventDefault();
      var $confirm = confirm('¿Se encuentra seguro de borrar este comprobante?');
      if ($confirm) {
        var $href = this.href;
        var $form = $('<form action="' + $href + '" method="post" id="deleteComprobantePago"></form>');
        $("body").append($form);
        $("#deleteComprobantePago").submit();
      }
    });

  })(window, document, jQuery);

</script>
{% endblock %}
