{% extends 'ChoferesBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Curso'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block menu %}
    {{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader %}
    <h1 class="page-title">Ver curso</h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('curso') }}">Cursos</a></li>
        <li class="active">Ver Curso</li>
    </ol>
{% endblock %}

{% block page %}


<!-- Page -->
        <!-- Panel Table Add Row -->
        <div class="panel">
            <div class="panel-body">

                <table class="table table-bordered table-hover table-striped"
                       id="exampleAddRow">

                    <tbody>
                    <tr class="gradeA">
                        <td><b>ID</b></td>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr class="gradeA">
                        <td><b>Fecha de inicio</b></td>
                        <td>{{ entity.fechaInicio|date('d/m/Y H:i') }}</td>
                    </tr>
                    <tr class="gradeA">
                        <td><b>Fecha de fin</b></td>
                        <td>{{ entity.fechaFin|date('d/m/Y H:i') }}</td>
                    </tr>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                            <tr class="gradeA">
                                <td><b>Prestador</b></td>
                                <td>{{ entity.prestador }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    <tr class="gradeA">
                        <td><b>Nro de TRI</b></td>
                        <td>{{ entity.codigo }}</td>
                    </tr>
                    <tr class="gradeA">
                        <td><b>Docente</b></td>
                        <td>{{ entity.docente }}</td>
                    </tr>
                    <tr class="gradeA">
                        <td><b>Sede</b></td>
                        <td>{{ entity.sede }}</td>
                    </tr>
                    <tr class="gradeA">
                        <td><b>Tipo</b></td>
                        <td>{{ entity.tipocurso }}</td>
                    </tr>
                    <tr class="gradeA">
                        <td><b>Estado</b></td>
                        <td>{{ entity.estado }}</td>
                    </tr>
                    </tbody>
                </table>


                <div class="dt-panelfooter clearfix">
                    <button type="button"
                            onclick="location.href='{{ path('curso') }}'"
                            class="btn btn-outline btn-default margin-top-10">
                        Volver al listado
                    </button>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if app.user.rol == 'ROLE_CNTSV' %}
                            <button type="button"
                                    onclick="location.href='{{ path('curso_edit', { 'id': entity.id }) }}'"
                                    class="btn btn-success margin-top-10">Editar
                            </button>
                            <button type="button"
                                    onclick="location.href='{{ path('curso_cancelar', { 'id': entity.id }) }}'"
                                    class="btn btn-success margin-top-10">
                                Cancelar Curso
                            </button>
                        {% elseif app.user.rol == 'ROLE_PRESTADOR' and entity.estado.id == 1 and entity.fechaInicio|date('U') > "+4 days"|date('U') %} <!--Estado: Cargado-->
                            <button type="button"
                                    onclick="location.href='{{ path('curso_edit', { 'id': entity.id }) }}'"
                                    class="btn btn-success margin-top-10">Editar
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            </div>

            {% if choferesCurso is not empty %}
            <div class="panel">
              <div class="panel-body">
                <!-- Estados: Confirmado, Por validar, Cancelado, Validado y con Falla de validacion -->

                    <table class="table table-bordered table-hover table-striped" id="exampleAddRow">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Dni</th>
                            <th>Nota</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for choferCurso in choferesCurso %}
                            <tr class="gradeA">
                                <td>{{ choferCurso.chofer.nombre }}</td>
                                <td>{{ choferCurso.chofer.apellido }}</td>
                                <td>{{ choferCurso.chofer.dni }}</td>
                                <td>{{ choferCurso.aprobado }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                  </div>
                </div>
                {% endif %}






    <!-- End Page -->

    {% endblock %}
