{% extends 'ChoferesBundle:Layout:layout.html.twig' %}
{% form_theme form 'ChoferesBundle:Curso:fieldsFilter.html.twig' %}

{% block title %}
    Reportes
{% endblock %}

{% block menu %}
    {{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader %}
    <h1 class="page-title">Reporte de cursos según filtros</h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('home') }}">Inicio</a></li>
        <li class="active">Reportes</li>
    </ol>
{% endblock %}

{% block page %}
    <div id="errorMessage"></div>
    <div class="panel">
        <div class="panel-body container-fluid">
            <form action="{{ path('reporte_cursos_filtro') }}" method="post" {{ form_enctype(form) }} id="elForm" >

                <div class="row">
                    {{ form_widget(form.id, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="row">
                    {{ form_widget(form.fechaInicio, {'attr': {'class': 'form-control', 'data-provide': 'datepicker', 'data-date-format': 'dd/mm/yyyy', 'data-date-autoclose': 'true'}}) }}
                </div>

                <div class="row">
                    {{ form_widget(form.fechaFin, {'attr': {'class': 'form-control', 'data-provide': 'datepicker', 'data-date-format': 'dd/mm/yyyy', 'data-date-autoclose': 'true'}}) }}
                </div>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if (app.user.rol == 'ROLE_CNTSV') %}
                        <div class="row">
                            {{ form_widget(form.fechaValidacion, {'attr': {'class': 'form-control', 'data-provide': 'datepicker', 'data-date-format': 'dd/mm/yyyy', 'data-date-autoclose': 'true'}}) }}
                        </div>
                        <div class="row">
                            {{ form_widget(form.prestador, {'attr': {'class': 'form-control'}}) }}
                            {{ form_widget(form.codigo, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    {% endif %}
                    {% if (app.user.rol == 'ROLE_PRESTADOR') %}
                        <div class="row">
                            {{ form_widget(form.sede, {'attr': {'class': 'form-control'}}) }}
                            {{ form_widget(form.docente, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    {% endif %}
                {% endif %}

                <div class="row">
                    {{ form_widget(form.tipocurso, {'attr': {'class': 'form-control'}}) }}
                    {{ form_widget(form.estado, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="row">
                    <div class="col-sm-4 col-md-4 margin-top-10">
                        {{ form_widget(form.reset, {'attr': {'class': 'btn btn-outline btn-default'}}) }}
                        <button type="submit" class="btn btn-success">Generar</button>
                        {# <button class="btn btn-link" id="obtenerTotalChoferesBtn">Obtener total choferes</button> #}
                    </div>
                    <div class="col-sm-1 col-md-1 margin-top-40">
                        <div class="loader-inner ball-spin-fade-loader"></div>
                    </div>
                </div>

                {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        function startSubmit($errorDiv, $reset, $submit, $loader) {
          $errorDiv.empty();
          $reset.prop("disabled", true);
          $submit.prop("disabled", true);
          $loader.show();
        }

        function endSubmit($reset, $submit, $loader, $input) {
          $loader.hide();
          $reset.prop("disabled", false);
          $submit.prop("disabled", false);
          $input.val("");
        }

        (function(window, document, $) {
          var $loader   = $('.loader-inner');
          var $form     = $('#elForm');
          var $errorDiv = $('#errorMessage');
          var $reset    = $('button[type="reset"]');
          var $submit   = $('button[type="submit"]');
          var $input    = $('.fechaVigencia');

          $loader.hide();
          $loader.loaders();

          $form.submit(function(e) {
            $.fileDownload($(this).prop('action'), {
              successCallback: function(url) {
                endSubmit($reset, $submit, $loader, $input);
              },
              failCallback: function(responseHtml, url, error) {
                endSubmit($reset, $submit, $loader, $input);
                var jsonResult = $.parseJSON(responseHtml.substring(responseHtml.indexOf("{"), responseHtml.lastIndexOf("}") + 1));
                $('<div/>', {
                  'class': 'alert ng-isolate-scope alert-danger alert-dismissible',
                  'html': '<div ><span class="ng-binding ng-scope">' + jsonResult.message + '</span></div>',
                }).appendTo($errorDiv);
              },
              httpMethod: "POST",
              data: $(this).serialize()
            });
            e.preventDefault();
            startSubmit($errorDiv, $reset, $submit, $loader);
          });
        })(window, document, jQuery);

        // $('#obtenerTotalChoferesBtn').click(function (event) {

        //     event.preventDefault();

        //     var $loader   = $('.loader-inner');
        //     var $form     = $('#elForm');
        //     var $errorDiv = $('#errorMessage');
        //     var $reset    = $('button[type="reset"]');
        //     var $submit   = $('button[type="submit"]');
        //     var $input    = $('.fechaVigencia')

        //     $errorDiv.empty();
        //     $reset.prop("disabled", true);
        //     $submit.prop("disabled", true);
        //     $loader.show();

        //     var fechaDesde = $('#choferesbundle_reporte_choferes_vigente_fechaDesde').val();
        //     var fechaHasta = $('#choferesbundle_reporte_choferes_vigente_fechaHasta').val();

        //     if (stringIsEmpty(fechaDesde)) {
        //         endSubmit($loader, $reset, $submit);
        //         appendAlert($errorDiv, 'warning', 'No se eligió <b>Fecha Desde</b>');
        //         return;
        //     }

        //     if (stringIsEmpty(fechaHasta)) {
        //         endSubmit($loader, $reset, $submit);
        //         appendAlert($errorDiv, 'warning', 'No se eligió <b>Fecha Hasta</b>');
        //         return;
        //     }

        //     axios.get('{{ path('reporte_total_choferes_vigentes_por_fecha_curso') }}', {
        //         params: {
        //             fecha_desde: fechaDesde,
        //             fecha_hasta: fechaHasta
        //         }
        //     })
        //             .then(function (response) {
        //                 endSubmit($loader, $reset, $submit);
        //                 appendAlert($errorDiv, 'success', 'El total de choferes es: <b>' + response.data.total+ '</b>');
        //             })
        //             .catch(function (error) {
        //                 console.log('Error:' + error);
        //                 endSubmit($loader, $reset, $submit);
        //                 appendAlert($errorDiv, 'danger', 'Se produjo un error...');
        //             });
        // });
    </script>
{% endblock %}
