{% extends 'ChoferesBundle:Layout:layout.html.twig' %}
{% form_theme form 'ChoferesBundle:Reporte:fields.html.twig' %}

{% block title %}
Reporte Cursos por tipo
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader %}
<h1 class="page-title">Reporte Cursos por tipo</h1>
<ol class="breadcrumb">
  <li><a href="{{ path('home') }}">Inicio</a></li>
  <li class="active">Reportes</li>
</ol>
{% endblock %}

{% block page %}
<div class="panel">
  <div class="panel-body container-fluid">
    <form action="{{ path('reporte_cursos_por_tipo') }}" method="POST">
      <div class="row">
        {# {{ form_widget(form.tipoCurso, {'attr': {'class': 'form-control'} }) }} #}
      </div>
      <div class="row">
        {{ form_widget(form.fechaInicioDesde, {'attr': {'class': 'fechaVigencia form-control', 'data-provide': 'datepicker', 'data-date-format': 'dd/mm/yyyy', 'data-date-autoclose': 'true'}}) }}
        {{ form_widget(form.fechaInicioHasta, {'attr': {'class': 'fechaVigencia form-control', 'data-provide': 'datepicker', 'data-date-format': 'dd/mm/yyyy', 'data-date-autoclose': 'true'}}) }}
      </div>
      <div class="row">
        <div class="col-sm-3 col-md-3 margin-top-20">
          {{ form_widget(form.reset, {'attr': {'class': 'btn btn-outline btn-default'}}) }}
          <button type="submit" class="btn btn-success">Generar</button>
        </div>
      </div>
      {{ form_end(form) }}
    </form>
  </div>
</div>
{% endblock %}