{% extends 'ChoferesBundle:Layout:layout.html.twig' %}
{% form_theme filterForm 'ChoferesBundle:UsuarioPrestador:fieldsFilter.html.twig' %}

{% block title %}
    Usuarios <--> Prestadores
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader%}
    <h1 class="page-title">Asociaciones usuarios prestador</h1>
    <ol class="breadcrumb">
      <li><a href="{{ path('home') }}">Inicio</a></li>
      <li class="active">Asociaciones usuarios prestador</li>
    </ol>
    {% if not filterForm.vars.valid %}
            <div class="alert alert-block alert-error fade in form-errors">
                {{ form_errors(filterForm) }}
            </div>
    {% endif %}
    <div class="page-header-actions">
        <a class="btn btn-sm btn-default btn-outline btn-round" data-toggle="collapse"  data-target="#filters" aria-expanded="false" aria-controls="exampleCollapseExample">
            <i class="icon wb-chevron-down" aria-hidden="true"></i>
            <span class="hidden-xs">Filtrar</span>
        </a>
    </div>


    <div class="span12">
        <div id="filters" class="collapse">

            <form class="well" action="{{ path('usuarioprestador') }}" method="get" {{ form_enctype(filterForm) }}>
                <div class="row">
                    {{ form_widget(filterForm.prestador, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_row(filterForm._token) }}
                <div class="row">
                    <div class="col-sm-6 col-md-4 margin-top-20">
                        <button type="submit" class="btn btn-success " name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                        <button type="submit" class="btn btn btn-outline btn-default " name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    </div>
                </div> <!-- row-->
            </form>
        </div>
    </div>
{% endblock %}
{% block page %}

<!-- Panel Table Add Row -->
<div class="panel">
    <div class="panel-body">

        <table class="table table-bordered table-hover table-striped">

    <thead>
        <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Prestador</th>
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="gradeA">
            <td><a href="{{ path('usuarioprestador_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.usuario }}</td>
            <td>{{ entity.prestador }}</td>
            <td class="actions">
        <a class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Ver"
           href="{{ path('usuarioprestador_show', { 'id': entity.id }) }}">
            <i class="icon wb-eye" aria-hidden="true"></i>
        </a>
        <a class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Editar"
           href="{{ path('usuarioprestador_edit', { 'id': entity.id }) }}">
            <i class="icon wb-edit" aria-hidden="true"></i>
        </a>            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
        <div class="dt-panelfooter clearfix">
            <a class="btn btn btn-success margin-top-10" href="{{ path('usuarioprestador_new') }}">
                Crear asociación
            </a>
            <div class="dataTables_paginate paging_simple_numbers" id="exampleTableTools_paginate">
                {{ pagerHtml|raw }}
            </div>
        </div>
    </div>

    </div>

{% endblock %}
