{% block _choferesbundle_prestador_nombre_widget %}
  <div class="col-sm-6 col-md-6 margin-top-30">
    <h4 class="example-title">Nombre / Razón social</h4>
    {{ block('form_widget_simple') }}
  </div>
{% endblock %}

{% block _choferesbundle_prestador_cuit_widget %}
  <div class="col-sm-6 col-md-6 margin-top-30">
    <h4 class="example-title">CUIT</h4>
    {{ block('form_widget_simple') }}
  </div>
{% endblock %}

{% block _choferesbundle_prestador_direccion_widget %}
  <div class="col-sm-6 col-md-6 margin-top-30">
    <h4 class="example-title">Dirección</h4>
    {{ block('form_widget_simple') }}
  </div>
{% endblock %}

{% block _choferesbundle_prestador_telefono_widget %}
  <div class="col-sm-6 col-md-6 margin-top-30">
    <h4 class="example-title">Teléfono</h4>
    {{ block('form_widget_simple') }}
  </div>
{% endblock %}

{% block _choferesbundle_prestador_mail_widget %}
  <div class="col-sm-6 col-md-6 margin-top-30">
    <h4 class="example-title">E-mail</h4>
    {{ block('form_widget_simple') }}
  </div>
{% endblock %}
