{% extends 'ChoferesBundle:Layout:layout.html.twig' %}
{% form_theme filterForm 'ChoferesBundle:Prestador:fieldsFilter.html.twig' %}

{% block javascript %}
    <script src="{{ asset('bundles/choferes/js/inputmask.js') }}"></script>
    <script src="{{ asset('bundles/choferes/js/jquery.inputmask.js') }}"></script>
    <script src="{{ asset('bundles/choferes/js/cuilmask.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}
    Prestadores
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader%}
    <h1 class="page-title">Prestadores</h1>
    {% if not filterForm.vars.valid %}
        <div class="span2">

            <div class="alert alert-block alert-error fade in form-errors">
                {{ form_errors(filterForm) }}
            </div>
        </div>
    {% endif %}
    <div class="page-header-actions">
        <a class="btn btn-sm btn-default btn-outline btn-round" data-toggle="collapse"  data-target="#filters" aria-expanded="false" aria-controls="exampleCollapseExample">
            <i class="icon wb-chevron-down" aria-hidden="true"></i>
            <span class="hidden-xs">Filtrar</span>
        </a>
    </div>


    <div id="filters" class="collapse">

        <form class="well" action="{{ path('prestador') }}" method="get" {{ form_enctype(filterForm) }}>
            {#{{ form_row(filterForm.id) }}#}
            <div class="row">
                {{ form_widget(filterForm.nombre, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(filterForm.cuit, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="row">
                {{ form_widget(filterForm.direccion, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(filterForm.telefono, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="row">
                {{ form_widget(filterForm.mail, {'attr': {'class': 'form-control'}}) }}
            </div>

            {{ form_row(filterForm._token) }}
            <div class="row">
                <div class="col-sm-6 col-md-4 margin-top-20">
                    <button type="submit" class="btn btn-success " name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    <button type="submit" class="btn btn btn-outline btn-default " name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </div>
            </div> <!-- row-->
        </form>
    </div>
{% endblock %}

{% block page %}

    <!-- Panel Table Add Row -->
    <div class="panel">
        <div class="panel-body">

            <table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre/Razon Social</th>
            <th>Cuit</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Mail</th>
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="gradeA">
            <td><a href="{{ path('prestador_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.cuit[0:2] }}-{{ entity.cuit[2:8] }}-{{ entity.cuit[10:] }}</td>
            <td>{{ entity.direccion }}</td>
            <td>{{ entity.telefono }}</td>
            <td>{{ entity.mail }}</td>
            <td>
        <a class="btn btn-mini" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="ver"
           href="{{ path('prestador_show', { 'id': entity.id }) }}">
            <i class="icon wb-eye" aria-hidden="true"></i>
        </a>
        <a class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="editar"
           href="{{ path('prestador_edit', { 'id': entity.id }) }}">
            <i class="icon wb-pencil" aria-hidden="true"></i>
        </a>            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
            <div class="dt-panelfooter clearfix">
                <a class="btn btn btn-success margin-top-10" href="{{ path('prestador_new') }}">
                    {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Prestador
                </a>
                <div class="dataTables_paginate paging_simple_numbers" id="exampleTableTools_paginate">
                    {{ pagerHtml|raw }}
                </div>
            </div>
    </div>



        <div class="span8">

    </div>
    </div>

{% endblock %}
