{% extends 'ChoferesBundle:Layout:layout.html.twig' %}
{% form_theme form 'ChoferesBundle:Prestador:fields.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Prestador'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader %}
    <h1 class="page-title">Crear prestador</h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('prestador') }}">Prestadores</a></li>
        <li class="active">Crear Prestador</li>
    </ol>
{% endblock %}

{% block page %}
<div class="panel">
  <div class="panel-heading">
    <h4 class="panel-title">Complete todos los campos.</h4>
  </div>

<div class="panel-body container-fluid">
  <form action="{{ path('prestador_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="row ">
      {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
      {{ form_widget(form.cuit, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="row ">
      {{ form_widget(form.direccion, {'attr': {'class': 'form-control'}}) }}
      {{ form_widget(form.telefono, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="row ">
      {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
    </div>
     <div class="row">
       <div class="col-sm-6 col-md-6 margin-top-20">
        <button type="submit" class="btn btn btn-success">Crear</button>
         {{ form_widget(form.reset, {'attr': {'class': 'btn btn-outline btn-default'}}) }}
       </div>
     </div> <!-- row-->
     {{ form_end(form) }}
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script src="{{ asset('bundles/choferes/assets/scripts/cuilmask.js') }}"></script>
{% endblock %}
