{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block javascript %}
    <script src="{{ asset('bundles/choferes/js/inputmask.js') }}"></script>
    <script src="{{ asset('bundles/choferes/js/jquery.inputmask.js') }}"></script>
    <script src="{{ asset('bundles/choferes/js/cuilmask.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Prestador'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block page %}

<h1>{{ 'views.new.creation'|trans({'%entity%': 'Prestador'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>

<form class="well" action="{{ path('prestador_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('prestador') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>
{% endblock %}
