{% extends 'ChoferesBundle:Layout:layout.html.twig' %}
{% form_theme filterForm 'ChoferesBundle:Docente:fieldsFilter.html.twig' %}

{% block title %}
    Docentes
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader%}
    <h1 class="page-title">Docentes</h1>
    <ol class="breadcrumb">
      <li><a href="{{ path('home') }}">Inicio</a></li>
      <li class="active">Docentes</li>
    </ol>
    {% if not filterForm.vars.valid %}
            <div class="alert alert-block alert-error fade in form-errors">
                {{ form_errors(filterForm) }}
            </div>
    {% endif %}
    <div class="page-header-actions">
        <a class="btn btn-sm btn-default btn-outline btn-round" data-toggle="collapse"  data-target="#filters" aria-expanded="false" aria-controls="exampleCollapseExample">
            <i class="icon wb-chevron-down" aria-hidden="true"></i>
            <span class="hidden-xs">Filtrar</span>
        </a>
    </div>


    <div class="span12">
        <div id="filters" class="collapse">

            <form class="well" action="{{ path('docente') }}" method="get" {{ form_enctype(filterForm) }}>
                {#{{ form_row(filterForm.id) }}#}
                <div class="row">
                    {{ form_widget(filterForm.nombre, {'attr': {'class': 'form-control'}}) }}
                    {{ form_widget(filterForm.apellido, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="row">
                    {{ form_widget(filterForm.dni, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_row(filterForm._token) }}
                <div class="row">
                    <div class="col-sm-6 col-md-4 margin-top-20">
                        <button type="submit" class="btn btn-success " name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                        <button type="submit" class="btn btn btn-outline btn-default " name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    </div>
                </div> <!-- row-->
            </form>
        </div>
    </div>
{% endblock %}
{% block page %}

        <!-- Panel Table Add Row -->
    <div class="panel">
        <div class="panel-body">

            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Dni</th>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                                <th>Prestador</th>
                            {% endif %}
                        {% endif %}
                        <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr class="gradeA">
                        <td><a onclick="saveInLocalStorage('docente');" href="{{ path('docente_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.nombre }}</td>
                        <td>{{ entity.apellido }}</td>
                        <td>{{ entity.dni }}</td>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                                <td>{{ entity.prestador }}</td>
                            {% endif %}
                        {% endif %}
                        <td>
                            <a  onclick="saveInLocalStorage('docente');" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Ver"
                                href="{{ path('docente_show', { 'id': entity.id }) }}">
                                <i class="icon wb-eye" aria-hidden="true"></i>
                            </a>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                                    <a onclick="saveInLocalStorage('docente');" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Editar"
                                            href="{{ path('docente_edit', { 'id': entity.id }) }}">
                                        <i class="icon wb-edit" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


    <div class="dt-panelfooter clearfix">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if (app.user.rol != 'ROLE_PRESTADOR') %}
                <a class="btn btn btn-success margin-top-10" href="{{ path('docente_new') }}">
                    {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Docente
                </a>
            {% endif %}
        {% endif %}
        <div class="dataTables_paginate paging_simple_numbers" id="exampleTableTools_paginate">
             {{ pagerHtml|raw }}
        </div>
    </div>

                <!-- -->
            </div>
        </div>

{% endblock %}
