{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Docente'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block menu %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if app.user.rol == 'ROLE_PRESTADOR' %}
        {{ include('ChoferesBundle:NavBars:role_prestador.html.twig', {active: 'docente'}) }}
    {% endif %}
{% endif %}
{% endblock %}

{% block page %}

<h1>{{ 'views.new.creation'|trans({'%entity%': 'Docente'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>

<form class="well" action="{{ path('docente_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('docente') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>
{% endblock %}
