{% extends 'ChoferesBundle:Layout:layout.html.twig' %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
  {% block menu %}
    {{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
  {% endblock %}
{% endif %}

{% block title %}
{{ parent() }} - Descargar certificados
{% endblock %}

{% block pageHeader %}
    <h1 class="page-title">Consulta choferes</h1>
{% endblock %}

{% block page %}

    {% if status is empty %}
      {% if status.message is not defined %}
        {{ form_start(form) }}
        <div class="panel">
          <div class="panel-body">
            {% if errors|length > 0 %}
              {% for error in errors %}
                <div class="alert ng-isolate-scope alert-danger alert-dismissible">
                  <div><span class="ng-binding ng-scope">{{ error.message }}</span></div>
                </div>
              {% endfor %}
            {% endif %}
            <div class="row">
              <div class="col-sm-6 col-md-5">
                <div class="">
                  <h4 class="example-title">DNI</h4>
                  {{ form_widget(form.dni, {'attr': {'class': 'form-control'}}) }}
                </div>
              </div>
            </div>
            <div class="row">
             <div class="col-sm-6 col-md-4 margin-top-20">
               <button type="submit" class="btn btn btn-success">Consultar</button>
             </div>
             {{ form_end(form) }}
            </div>
        </div>
      </div>
      {% endif %}
    {% else %}
    <div class="panel">
      <div class="panel-body">
        <table class="table table-bordered table-hover table-striped" id="exampleAddRow">
          <tbody>
            <tr class="gradeA">
              <tr class="gradeA">
              <td><b>Nombre</b></td>
              <td>{{ chofer.nombre }}</td>
            </tr>
            <tr class="gradeA">
              <td><b>DNI</b></td>
              <td>{{ chofer.dni }}</td>
            </tr>
            <tr class="gradeA">
              <td><b>Matricula</b></td>
              <td>
                {% if chofer.matricula %}
                    {{ chofer.matricula }}
                {% else %}
                    <i>(no informada)</i>
                {% endif %}
              </td>
            </tr>
            <tr class="gradeA">
              <td><b>Estado</b></td>
              <td>
                {% if status.certificado %}Vigente{% else %}Expirado{% endif %}
              </td>
            </tr>
            {% if status.certificado is defined %}
              <tr class="gradeA">
                <td><b>Fecha curso complementario</b></td>
                <td>{{ status.fechaFin|date('d/m/Y') }}</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
        <div class="dt-panelfooter clearfix">
        {% if status.certificado is defined and status.certificado %}
          {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.rol != 'ROLE_CNRT'%}
            <form class="" action="" method="post">
              {% if goBack %}
                <a href="javascript:history.go(-1)" class="btn btn-outline btn-default margin-top-10">Volver</a>
              {% else %}
                <a href="{{ path('chofer_consulta') }}" class="btn btn-outline btn-default margin-top-10">Volver</a>
              {% endif %}
              <input type="hidden" name="choferDni" value="{{ chofer.dni }}">
              <button type="submit" name="descargar" class="margin-top-10 btn btn-outline btn-warning" >Descargar certificado</button>
            </form>
          {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if goBack %}
              <a href="javascript:history.go(-1)" class="btn btn-outline btn-default margin-top-10">Volver</a>
            {% else %}
              <a href="{{ path('chofer_consulta') }}" class="btn btn-outline btn-default margin-top-10">Volver</a>
            {% endif %}
          {% endif %}
        {% else %}
          {% if goBack %}
            <a href="javascript:history.go(-1)" class="btn btn-outline btn-default margin-top-10">Volver</a>
          {% else %}
            <a href="{{ path('chofer_consulta') }}" class="btn btn-outline btn-default margin-top-10">Volver</a>
          {% endif %}
        {% endif %}
        </div>
      </div>
    </div>
    {% endif %}

{% endblock %}
