{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% if form is defined %}
  {% form_theme form _self %}
  {% block form_errors %}
      {% if errors|length > 0 %}
        {% for error in errors %}
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error!</strong> {{ error.message }}
          </div>
        {% endfor %}
      {% endif %}
  {% endblock form_errors %}
{% endif %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block title %}
{{ parent() }} - Descargar certificados
{% endblock %}

{% block page %}

<style>
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
</style>

<div class="container">
  <div class="row">
    {% if status is empty %}
      {% if status.message is not defined %}
        <div class="span4 offset4 well">
          <legend>Descargar certificados</legend>
          {{ form_start(form) }}
          {{ form_widget(form) }}
          {{ form_end(form) }}
        </div>
      {% else %}
      <div class="span5">
        <p class="text-info">{{ status.message }}</p>
        <a href="{{ path('chofer_consulta') }}" class="btn btn-inverse">Volver</a>
      </div>
      {% endif %}
    {% else %}
    <div class="span5 offset-3 ">
      <p class=" text-info">Fecha: {{ "now"|date("d/m/Y H:i", "America/Argentina/Buenos_Aires") }}</p>
    </div>
    <div class="span12" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Estatus Chofer</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="span3" align="center">
              <img alt="chofer pic" src="{{ asset('bundles/choferes/img/chofer.jpg') }}" class="img-rounded img-responsive">
            </div>
            <div class="span9">
              <table class="table">
                <tbody>
                  <tr>
                    <td><span class="label label-inverse">Nombre</span></td>
                    <td>{{ chofer.nombre }} {{ chofer.apellido }}</td>
                  </tr>
                  <tr>
                    <td><span class="label label-inverse">DNI</span></td>
                    <td>{{ chofer.dni }}</td>
                  </tr>
                  <tr>
                    <td><span class="label label-inverse">Matricula</span></td>
                      <td>
                          {% if( chofer.matricula ) %}
                              {{ chofer.matricula }}
                          {% else %}
                              <i>(no informada)</i>
                          {% endif %}
                      </td>
                  </tr>
                  <tr>
                    <td><span class="label label-inverse">Estado</span></td>
                    {% if status.certificado %}
                      <td><b>Vigente</b></td>
                    {% else %}
                        <td><b>Expirado</b></td>
                    {#{% else status.message is defined %}
                      <td><b>{{ status.message }}</b></td> #}
                    {% endif %}
                  </tr>
                  {% if status.certificado %}
                    <tr>
                      <td><span class="label label-inverse">Fecha curso complementario</span></td>
                      <td>{{ status.fechaFin|date('d/m/Y') }}</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
              {% if status.certificado %}
                {% if (is_granted('IS_AUTHENTICATED_FULLY') and app.user.rol != 'ROLE_CNRT') or (not is_granted('IS_AUTHENTICATED_FULLY')) %}
                  <form class="" action="" method="post">
                      <input type="hidden" name="choferDni" value="{{ chofer.dni }}">
                      <button type="submit" name="descargar" class="btn btn-primary">Descargar certificado</button>
                      {% if goBack %}
                        <a href="javascript:history.go(-1)" class="btn">Volver</a>
                      {% else %}
                        <a href="{{ path('chofer_consulta') }}" class="btn">Volver</a>
                      {% endif %}
                  </form>
                {% else %}
                  {% if goBack %}
                    <a href="javascript:history.go(-1)" class="btn">Volver</a>
                  {% else %}
                    <a href="{{ path('chofer_consulta') }}" class="btn">Volver</a>
                  {% endif %}
                {% endif %}
              {% else %}
                {% if goBack %}
                  <a href="javascript:history.go(-1)" class="btn">Volver</a>
                {% else %}
                  <a href="{{ path('chofer_consulta') }}" class="btn">Volver</a>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
