{% form_theme form 'ChoferesBundle:Chofer:fieldsDescargarCertificados.html.twig' %}

<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">

  <title>Descargar certificados</title>

  <link rel="apple-touch-icon" href="{{ asset('bundles/choferes/assets/images/apple-touch-icon.png') }}">
  <link rel="shortcut icon" href="{{ asset('bundles/choferes/assets/images/favicon.ico') }}">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/css/bootstrap-extend.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/css/site.css') }}">

  <!-- Plugins -->
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/vendor/animsition/animsition.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/vendor/asscrollable/asScrollable.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/vendor/switchery/switchery.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/vendor/intro-js/introjs.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/vendor/slidepanel/slidePanel.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/vendor/flag-icon-css/flag-icon.css') }}">

  <!-- Fonts -->
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/fonts/web-icons/web-icons.min.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/fonts/brand-icons/brand-icons.min.css') }}">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
  <!-- Inline -->
  <link rel="stylesheet" href="{{ asset('bundles/choferes/assets/examples/css/pages/login-v3.css') }}">

  <!--[if lt IE 9]>
    <script src="{{ asset('bundles/choferes/assets/vendor/html5shiv/html5shiv.min.js') }}"></script>
    <![endif]-->

  <!--[if lt IE 10]>
    <script src="../../assets/vendor/media-match/media.match.min.js"></script>
    <script src="../../assets/vendor/respond/respond.min.js"></script>
    <![endif]-->

  <!-- Scripts -->
  <script src="{{ asset('bundles/choferes/assets/vendor/modernizr/modernizr.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/vendor/breakpoints/breakpoints.js') }}"></script>
  <script>
    Breakpoints();
  </script>
</head>
<body class="page-login-v3 layout-full">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


  <!-- Page -->
  <div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
  data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
      <div class="panel">
        <div class="panel-body">
          <div class="brand">
            <img class="brand-img" src="{{ asset('bundles/choferes/assets/images/logo-full.png') }}" alt="cntsv logo">

          </div>
          <h4 class="align-left">Descargar certificados de cursos realizados</h4>
          <h5 class="align-left">Ingrese su DNI y el código de seguridad para continuar</h5>

          <form action="{{ path('choferes_descargar_certificados') }}" method="post" {{ form_enctype(form) }}>

            {% if errors|length > 0 %}
              {% for error in errors %}
                <div class="toast toast-just-text toast-danger">
                  <div class="toast-message">
                    <strong>Error:</strong> {{ error.message }}
                  </div>
                </div>
              {% endfor %}
            {% endif %}

            {{ form_widget(form.dni, {'attr': {'class': 'form-control empty'}, 'full_name' : 'choferDni'}) }}
            <div></div>
            {{ form_widget(form.captcha) }}
            <button type="submit" class="btn btn-success btn-block btn-lg margin-top-40" value="descargar" name="descargar"><i class="icon wb-download" aria-hidden="true"></i> Descargar certificados</button>

          {{ form_end(form) }}

        </div>
      </div>

      <footer class="page-copyright page-copyright-inverse">
        <p>Este es un producto de <a href="www.hera-digital.com"><img class="hera-brand-img" src="{{ asset('bundles/choferes/assets/images/hera-logo.png') }}" alt="hera logo"></a></p>
        <p>© 2015. Todos los derechos reservados.</p>

      </footer>
    </div>
  </div>
  <!-- End Page -->


  <!-- Core  -->
  <script src="{{ asset('bundles/choferes/assets/vendor/jquery/jquery.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/vendor/bootstrap/bootstrap.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/vendor/animsition/jquery.animsition.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/vendor/asscroll/jquery-asScroll.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/vendor/mousewheel/jquery.mousewheel.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/vendor/asscrollable/jquery.asScrollable.all.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/vendor/ashoverscroll/jquery-asHoverScroll.js') }}"></script>

  <!-- Plugins -->
  <script src="{{ asset('bundles/choferes/assets/vendor/switchery/switchery.min.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/vendor/intro-js/intro.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/vendor/screenfull/screenfull.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/vendor/slidepanel/jquery-slidePanel.js') }}"></script>

  <!-- Plugins For This Page -->
  <script src="{{ asset('bundles/choferes/assets/vendor/jquery-placeholder/jquery.placeholder.js') }}"></script>

  <!-- Scripts -->
  <script src="{{ asset('bundles/choferes/assets/js/core.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/js/site.js') }}"></script>

  <script src="{{ asset('bundles/choferes/assets/js/sections/menu.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/js/sections/menubar.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/js/sections/gridmenu.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/js/sections/sidebar.js') }}"></script>



  <script src="{{ asset('bundles/choferes/assets/js/components/asscrollable.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/js/components/animsition.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/js/components/slidepanel.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/js/components/switchery.js') }}"></script>

  <!-- Scripts For This Page -->
  <script src="{{ asset('bundles/choferes/assets/js/components/jquery-placeholder.js') }}"></script>
  <script src="{{ asset('bundles/choferes/assets/js/components/material.js') }}"></script>

  <script>
    (function(document, window, $) {
      'use strict';

      var Site = window.Site;
      $(document).ready(function() {
        Site.run();
      });
    })(document, window, jQuery);
  </script>

</body>

</html>
