{% extends 'ChoferesBundle:Layout:layout.html.twig' %}

{% block title %}
{{ parent() }} -  {{ 'views.edit.edit'|trans({'%entity%': 'Chofer'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader %}<h1 class="page-title">Editar Chofer</h1>{% endblock %}

{% block page %}
<div class="panel">
  <div class="panel-body">
    <form action="{{ path('chofer_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <table class="table table-bordered table-hover table-striped" id="exampleAddRow">
      <tbody>
        <tr class="gradeA">
          <td><b>Nombre</td>
          <td>{{ form_widget(edit_form.nombre, {'attr': {'class': 'form-control'}}) }}</td>
        </tr>
        <tr class="gradeA">
          <td><b>Apellido</td>
          <td>{{ form_widget(edit_form.apellido, {'attr': {'class': 'form-control'}}) }}</td>
        </tr>
        <tr class="gradeA">
          <td><b>DNI</td>
          <td>{{ form_widget(edit_form.dni, {'attr': {'class': 'form-control'}}) }}</td>
        </tr>
        <tr class="gradeA">
          <td><b>PreCUIL</td>
          <td>{{ form_widget(edit_form.precuil, {'attr': {'class': 'form-control'}}) }}</td>
        </tr>
        <tr class="gradeA">
          <td><b>PosCUIL</td>
          <td>{{ form_widget(edit_form.colacuil, {'attr': {'class': 'form-control'}}) }}</td>
        </tr>
        <tr class="gradeA">
          <td><b>CUIL empresa</td>
          <td>{{ form_widget(edit_form.cuilEmpresa, {'attr': {'class': 'form-control'}}) }}</td>
        </tr>
        <tr class="gradeA">
          <td><b>Matrícula</td>
          <td>{{ form_widget(edit_form.matricula, {'attr': {'class': 'form-control'}}) }}</td>
        </tr>
        <tr class="gradeA">
          <td><b>Tiene curso básico</b></td>
          <td>
            <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-left">
              {{ form_widget(edit_form.tieneCursoBasico) }}
              <label for="inputCheckbox"></label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="dt-panelfooter clearfix">
      <button type="submit" class="btn btn btn-success margin-top-10">Guardar</button>
      <a href="{{ path('chofer') }}" class="btn btn-outline btn-default margin-top-10">Volver al listado</a>
    </div>
    {{ form_widget(edit_form._token) }}
    </form>
  </div>
</div>
{% endblock %}
