{% block _choferesbundle_chofer_nombre_widget %}
  <div class="col-sm-6 col-md-6 margin-top-30">
    <h4 class="example-title">Nombre</h4>
    {{ block('form_widget_simple') }}
  </div>
{% endblock %}

{% block _choferesbundle_chofer_apellido_widget %}
  <div class="col-sm-6 col-md-6 margin-top-30">
    <h4 class="example-title">Apellido</h4>
    {{ block('form_widget_simple') }}
  </div>
{% endblock %}

{% block _choferesbundle_chofer_dni_widget %}
  <div class="col-sm-6 col-md-6 margin-top-30">
    <h4 class="example-title">DNI</h4>
    {{ block('form_widget_simple') }}
  </div>
{% endblock %}

{% block _choferesbundle_chofer_cuil_widget %}
  <div class="col-sm-6 col-md-6 margin-top-30">
    <h4 class="example-title">CUIL</h4>
    {{ block('form_widget_simple') }}
  </div>
{% endblock %}

{% block _choferesbundle_chofer_cuilEmpresa_widget %}
  <div class="col-sm-6 col-md-6 margin-top-30">
    <h4 class="example-title">CUIL empresa</h4>
    {{ block('form_widget_simple') }}
  </div>
{% endblock %}

{% block _choferesbundle_chofer_triCode_widget %}
  <div class="col-sm-6 col-md-6 margin-top-30">
    <h4 class="example-title">N° de TRI</h4>
    {{ block('form_widget_simple') }}
  </div>
{% endblock %}

{% block _choferesbundle_chofer_tieneCursoBasico_widget %}
  <div class="col-sm-6 col-md-6 margin-top-30">
    <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-left">
      {{ block('checkbox_widget') }}
      <label for="inputCheckbox">Tiene curso básico</label>
    </div>
  </div>
{% endblock %}
