{% extends 'ChoferesBundle:Layout:layout.html.twig' %}

{% block title %}
    Choferes
{% endblock %}

{% block menu %}
    {{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader %}

    <h1 class="page-title">Choferes</h1>
    {% if form_errors(filterForm) %}
        <div class="span2">

            <div class="alert alert-block alert-error fade in form-errors">
                {{ form_errors(filterForm) }}
            </div>

            &nbsp;
        </div>
    {% endif %}
    <div class="page-header-actions">
        <a class="btn btn-sm btn-default btn-outline btn-round" data-toggle="collapse"  data-target="#filters" aria-expanded="false" aria-controls="exampleCollapseExample">
            <i class="icon wb-chevron-down" aria-hidden="true"></i>
            <span class="hidden-xs">Filtrar</span>
        </a>
    </div>


    <div class="span12">
        <div id="filters" class="collapse">

            <form class="well" action="{{ path('chofer') }}" method="get" {{ form_enctype(filterForm) }}>
                {#{{ form_row(filterForm.id) }}#}
                {{ form_row(filterForm.nombre) }}
                {{ form_row(filterForm.apellido) }}
                {{ form_row(filterForm.dni) }}
                {{ form_row(filterForm.precuil) }}
                {{ form_row(filterForm.colacuil) }}
                {{ form_row(filterForm.cuilEmpresa) }}
                {#{{ form_row(filterForm.tieneCursoBasico) }}#}
                {{ form_rest(filterForm) }}
                <div class="row">
                    <div class="col-sm-6 col-md-4 margin-top-20">
                        <button type="submit" class="btn btn-outline btn-default" name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                        <button type="submit" class="btn btn btn-success" name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block page %}

    <div class="panel">
        <div class="panel-body">

            <table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>Precuil</th>
            <th>Colacuil</th>
            <th>Cuilempresa</th>
            <th>Matricula</th>
            <th>Tienecursobasico</th>
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="gradeA">
            <td><a href="{{ path('chofer_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.apellido }}</td>
            <td>{{ entity.dni }}</td>
            <td>{{ entity.precuil }}</td>
            <td>{{ entity.colacuil }}</td>
            <td>{{ entity.cuilEmpresa }}</td>
            <td>{{ entity.matricula }}</td>
            <td>{% if entity.tieneCursoBasico %}true{% else %}false{% endif %}</td>
            <td>
              <a class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="ver"
                 href="{{ path('chofer_show', { 'id': entity.id }) }}">
                  <i class="icon wb-eye" aria-hidden="true"></i>
              </a>
              <a class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="editar"
                 href="{{ path('chofer_edit', { 'id': entity.id }) }}">
                  <i class="icon wb-edit" aria-hidden="true"></i>
              </a>
              <a class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="estatus"
                 href="{{ path('chofer_consulta_id', { 'id': entity.id }) }}">
                  <i class="icon wb-stats-bars" aria-hidden="true"></i>
              </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>

        <div class="dt-panelfooter clearfix">
            <div class="dataTables_paginate paging_simple_numbers" id="exampleTableTools_paginate">
                {{ pagerHtml|raw }}
            </div>
        </div>

        <div class="span8">
    <a class="btn btn-primary likepaginator" href="{{ path('chofer_new') }}">
            {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Chofer
        </a>
    </div>
    </div>

{% endblock %}
