{% extends 'ChoferesBundle:Layout:layout.html.twig' %}
{% form_theme filterForm 'ChoferesBundle:Chofer:fieldsFilter.html.twig' %}

{% block title %}
    Choferes
{% endblock %}

{% block menu %}
    {{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader %}
    <h1 class="page-title">Choferes</h1>
    <ol class="breadcrumb">
      <li><a href="{{ path('home') }}">Inicio</a></li>
      <li class="active">Choferes</li>
    </ol>
    {% if not filterForm.vars.valid %}
            <div class="alert alert-block alert-error fade in form-errors">
                {{ form_errors(filterForm) }}
            </div>
    {% endif %}
    <div class="page-header-actions">
        <a class="btn btn-sm btn-default btn-outline btn-round" data-toggle="collapse"  data-target="#filters" aria-expanded="false" aria-controls="exampleCollapseExample">
            <i class="icon wb-chevron-down" aria-hidden="true"></i>
            <span class="hidden-xs">Filtrar</span>
        </a>
    </div>



        <div id="filters" class="collapse">

            <form class="well" action="{{ path('chofer') }}" method="get" {{ form_enctype(filterForm) }}>
                {#{{ form_row(filterForm.id) }}#}
                <div class="row">
                    {{ form_widget(filterForm.nombre, {'attr': {'class': 'form-control'}}) }}
                    {{ form_widget(filterForm.apellido, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="row">
                  {{ form_widget(filterForm.dni, {'attr': {'class': 'form-control'}}) }}
                  {# {{ form_widget(filterForm.cuilEmpresa, {'attr': {'class': 'form-control'}}) }} #}
                </div>
                {{ form_row(filterForm._token) }}
                <div class="row">
                    <div class="col-sm-6 col-md-4 margin-top-20">
                        <button type="submit" class="btn btn-success " name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                        <button type="submit" class="btn btn btn-outline btn-default " name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}


{% block page %}

    <div class="panel">
        <div class="panel-body">

            <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            {# <th>Cuil</th> #}
            {# <th>Cuilempresa</th> #}
            <th>Tiene curso básico</th>
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="gradeA">
            <td><a onclick="saveInLocalStorage('chofer');" href="{{ path('chofer_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.apellido }}</td>
            {# <td>{% if entity.cuil %}{{ entity.cuil[0:2] }}-{{ entity.cuil[2:8] }}-{{ entity.cuil[10:] }}{% endif %}</td> #}
            {# <td>{{ entity.cuilEmpresa }}</td> #}
            <td>{% if entity.tieneCursoBasico %}Si{% else %}No{% endif %}</td>
            <td class="actions">
              <a class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Ver" onclick="saveInLocalStorage('chofer');" href="{{ path('chofer_show', { 'id': entity.id }) }}">
                <i class="icon wb-eye" aria-hidden="true"></i>
              </a>
              {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CNTSV') %}
                <a class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Editar" onclick="saveInLocalStorage('chofer');" href="{{ path('chofer_edit', { 'id': entity.id }) }}">
                  <i class="icon wb-edit" aria-hidden="true"></i>
                </a>
                <a class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Borrar" onclick="saveInLocalStorage('chofer');" href="{{ path('chofer_delete', { 'id': entity.id }) }}">
                  <i class="icon wb-close red-400" aria-hidden="true"></i>
                </a>
              {% endif %}
              <a class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Estatus" onclick="saveInLocalStorage('chofer');" href="{{ path('chofer_consulta_id', { 'id': entity.id }) }}">
                  <i class="icon wb-stats-bars" aria-hidden="true"></i>
              </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
            <div class="dt-panelfooter clearfix">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CNTSV') %}
                    <a class="btn btn btn-success margin-top-10" href="{{ path('chofer_new') }}">
                        {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Chofer
                    </a>
                {% endif %}
                <div class="dataTables_paginate paging_simple_numbers" id="exampleTableTools_paginate">
                    {{ pagerHtml|raw }}
                </div>
            </div>
    </div>
    </div>

{% endblock %}
