{% extends 'ChoferesBundle:Layout:layout.html.twig' %}
{% form_theme form 'ChoferesBundle:Chofer:fields.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Chofer'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader %}
    <h1 class="page-title">Crear Chofer</h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('chofer') }}">Choferes</a></li>
        <li class="active">Crear Chofer</li>
    </ol>
{% endblock %}

{% block page %}
<div class="panel">
  <div class="panel-heading">
    <h4 class="panel-title">Complete todos los campos.</h4>
  </div>

  <div class="panel-body container-fluid">
    <form action="{{ path('chofer_create') }}" method="post" {{ form_enctype(form) }}>
      <div class="row ">
        {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.apellido, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="row">
        {{ form_widget(form.dni, {'attr': {'class': 'form-control'}}) }}
        {# {{ form_widget(form.cuil, {'attr': {'class': 'form-control'}}) }} #}
      </div>
      {# <div class="row">
        {{ form_widget(form.cuilEmpresa, {'attr': {'class': 'form-control'}}) }}
      </div> #}
      <div class="row">
        {{ form_widget(form.triCode, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="row">
        {{ form_widget(form.tieneCursoBasico) }}
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 margin-top-20">
        <button type="submit" class="btn btn btn-success">Crear</button>
        {{ form_widget(form.reset, {'attr': {'class': 'btn btn-outline btn-default'}}) }}
        </div>
      </div>
      {{ form_end(form) }}
    </form>
  </div>
</div>
{% endblock %}

{# {% block javascript %}
  <script src="{{ asset('bundles/choferes/assets/scripts/cuilmask.js') }}"></script>
{% endblock %}
 #}
