{% extends 'ChoferesBundle:Layout:layout.html.twig' %}

{% block title %}
    Usuario
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}


{% block pageHeader%}
    <h1 class="page-title">Docentes</h1>
    {% if form_errors(filterForm) %}
        <div class="span2">

            <div class="alert alert-block alert-error fade in form-errors">
                {{ form_errors(filterForm) }}
            </div>

            &nbsp;
        </div>
    {% endif %}
    <div class="page-header-actions">
        <a class="btn btn-sm btn-default btn-outline btn-round" data-toggle="collapse"  data-target="#filters" aria-expanded="false" aria-controls="exampleCollapseExample">
            <i class="icon wb-chevron-down" aria-hidden="true"></i>
            <span class="hidden-xs">Filtrar</span>
        </a>
    </div>


    <div class="span12">
        <div id="filters" class="collapse">

            <form class="well" action="{{ path('usuario') }}" method="get" {{ form_enctype(filterForm) }}>
                {#{{ form_row(filterForm.id) }}#}
                {{ form_row(filterForm.nombre) }}
                {{ form_row(filterForm.mail) }}
                {#{{ form_row(filterForm.password) }}#}
                {#{{ form_row(filterForm.activo) }}#}
                {{ form_rest(filterForm) }}
                <div class="row">
                    <div class="col-sm-6 col-md-4 margin-top-20">
                        <button type="submit" class="btn btn btn-outline btn-default " name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                        <button type="submit" class="btn btn-success " name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    </div>
                </div> <!-- row-->
            </form>
        </div>
    </div>
{% endblock %}
{% block page %}

<!-- Panel Table Add Row -->
<div class="panel">
    <div class="panel-body">

        <table class="table table-bordered table-hover table-striped">

    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Mail</th>
            <th>Rol</th>
            <th>Activo</th>
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="gradeA">
            <td><a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.mail }}</td>
            <td>{{ entity.rol }}</td>
            <td>{% if entity.activo %}true{% else %}false{% endif %}</td>
            <td>
        <a  class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="ver"
           href="{{ path('usuario_show', { 'id': entity.id }) }}">
            <i class="icon wb-eye" aria-hidden="true"></i>
        </a>
        <a  class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="editar"
           href="{{ path('usuario_edit', { 'id': entity.id }) }}">
            <i class="icon wb-pencil" aria-hidden="true"></i>
        </a>            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

        <div class="dt-panelfooter clearfix">
            <a class="btn btn btn-success margin-top-10" href="{{ path('usuario_new') }}">
                {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Usuario
            </a>
            <div class="dataTables_paginate paging_simple_numbers" id="exampleTableTools_paginate">
                {{ pagerHtml|raw }}
            </div>
        </div>
    </div>
    </div>

{% endblock %}
