{% extends 'ChoferesBundle:Layout:layout.html.twig' %}
{% form_theme form 'ChoferesBundle:Usuario:fields.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Usuario'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader %}
    <h1 class="page-title">Crear usuario</h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('usuario') }}">Usuarios</a></li>
        <li class="active">Crear usuario</li>
    </ol>
{% endblock %}

{% block page %}
<div class="panel">
  <div class="panel-heading">
    <h4 class="panel-title">Complete todos los campos.</h4>
  </div>

  <div class="panel-body container-fluid">
    <form action="{{ path('usuario_create') }}" method="post" {{ form_enctype(form) }}>
      <div class="row ">
        {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="row">
        {{ form_widget(form.rol, {'attr': {'class': 'form-control'}}) }}
      </div>
      <!-- row-->
      <div class="row">
        <div class="col-sm-6 col-md-6 margin-top-20">
        <button type="submit" class="btn btn btn-success">Crear</button>
        {{ form_widget(form.reset, {'attr': {'class': 'btn btn-outline btn-default'}}) }}
        <a href="{{ path('usuario') }}" class="btn btn-outline btn-warning">Ver usuarios</a>
        </div>
      </div> <!-- row-->
      {{ form_widget(form._token) }}

    </form>
  </div>
</div>
{% endblock %}
