{% extends 'ChoferesBundle:Layout:layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Usuario'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader %}
    <h1 class="page-title">Ver Usuario</h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('usuario') }}">Usuarios</a></li>
        <li class="active">Ver usuario</li>
    </ol>
{% endblock %}

{% block page %}
    <div class="panel">
        <div class="panel-body">

            <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped" id="exampleAddRow">

                <tbody>
                <tr class="gradeA">
                    <td><b>ID</b></td>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr class="gradeA">
                    <td><b>Nombre</b></td>
                    <td>{{ entity.nombre }}</td>
                </tr>
                <tr class="gradeA">
                    <td><b>E-mail</b></td>
                    <td>{{ entity.mail }}</td>
                </tr>
                <tr class="gradeA">
                    <td><b>Rol</b></td>
                    <td>{{ entity.rol }}</td>
                </tr>
                <tr class="gradeA">
                    <td><b>Activo</b></td>
                    <td>{% if entity.activo %}Si{% else %}No{% endif %}</td>
                </tr>

                </tbody>
            </table>
            </div>

            <div class="dt-panelfooter clearfix">
                <button type="button" onclick="location.href='{{ path('usuario_edit', { 'id': entity.id }) }}'" class="btn btn-success margin-top-10">Editar</button>

                <button type="button" onclick="location.href='{{ path('usuario') }}';" class="btn btn-outline btn-default margin-top-10">Volver al listado</button>
            </div>
            <!-- -->

        </div>
    </div>
<!-- End Panel Table Add Row -->



{% endblock %}
